{
  "openapi": "3.0.0",
  "info": {
    "title": "Yext Admin API",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.yextapis.com/v2"
    }
  ],
  "paths": {
    "/accounts/{accountId}/availableservices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "listAvailableServices",
        "tags": [
          "Administrative API"
        ],
        "summary": "Available Services: List",
        "description": "Return list of services available to you under your agreements",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AvailableServicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/newlocationaddrequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "createNewLocationAddRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewLocationAddRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: Create (New Location)",
        "description": "Request that a new location be added and services added to it. The location is created only if the \"status\" field returned is \"COMPLETE\". In most cases, the \"status\" returned in the Add Request: Create response will be \"SUBMITTED\". For a list and explanation of each possible \"status\", please see the [**Add Requests: Get (Location)**](#operation/getAddRequest) section.\n\nTo receive real-time updates on the status of your Add Request, we recommend that you configure the [**Add Request Update: Webhook**](../webhooks/index.html#operation/addRequestWebhook) in the Developer Console (see the [**Configure Webhooks**](http://developer.yext.com/docs/guides/configure-webhooks/) guide for more information). Alternatively, use the [**Add Requests: Get (Location)**](#operation/getAddRequest) call to determine the current Add Request \"status\".\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/NewLocationAddRequestsResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/existinglocationaddrequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "createExistingLocationAddRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExistingLocationAddRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: Create (Existing Location)",
        "description": "Request that one or more available services be added to an existing location.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExistingLocationAddRequestsResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/existingsubaccountaddrequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "createExistingSubAccountAddRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExistingSubAccountAddRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: Create (Existing Account)",
        "description": "Request that one or more available services be added (or increased in quantity) to an existing account.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ExistingSubAccountAddRequestsResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/cancelservices": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the account.\n\n**NOTE:** If you would like to cancel location services under a sub-account, enter the ID of the *main account* rather than the sub-account.\n"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "cancelServices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelServicesRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Services: Cancel (Location)",
        "description": "Cancel one or more active services provisioned on the location.\n\n**NOTE:** If you have added location services under a sub-account, use this endpoint on your *main account* to cancel them.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CancelServicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/cancelsubaccountservices": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the account.\n\n**NOTE:** Enter the ID of the *main account* rather than the sub-account to cancel services provisioned on the sub-account.\n"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "cancelSubAccountServices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelSubAccountServicesRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Services: Cancel (Account)",
        "description": "Cancel (or decrease the quantity of) one or more active services provisioned on the account.\n\n**NOTE:** If you have added services to a sub-account, use this endpoint on your *main account* to cancel them.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CancelSubAccountServicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/cancelallsubaccountservices": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the account.\n\n**NOTE:** Enter the ID of the *main account* rather than the sub-account to cancel all of the services provisioned on the sub-account.\n"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "cancelAllSubAccountServices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllSubAccountServicesRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Services: Cancel All (Account)",
        "description": "Cancel all active services (all quantities) provisioned on the account.\n\n**NOTE:** If you have added services to a sub-account, use this endpoint on your *main account* to cancel all of them.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CancelAllSubAccountServicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/processaddrequest": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "createProcessReviewAddRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessReviewAddRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: Process (Sandbox API Only)",
        "description": "Request that an add request in REVIEW be processed to COMPLETE, CANCELED, or FAILED. Only applicable for location add requests.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmptyResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/addrequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "listAddRequests",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SUBMITTED",
                "PROCESSING",
                "COMPLETE",
                "CANCELED",
                "REVIEW",
                "FAILED"
              ]
            },
            "description": "Filters the list to add requests in a specific status."
          },
          {
            "name": "submittedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "submittedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "sku",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agreementId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: List (Location)",
        "description": "Get all of the add requests in the account that were created for locations. The response includes both New Location Add Requests and Existing Location Add Requests.\n\nPossible `status` values for each add request:\n  * SUBMITTED - The request has been submitted for processing. Updated status should be available soon, usually within seconds.\n  * PROCESSING - The request is currently being processed. Updated status should be available soon, usually within seconds.\n  * COMPLETE - The request was successfully processed and service was added. You can verify this by retrieving services for the location.\n  * CANCELED - The request was purposefully canceled by Yext and was not processed. Details are available in the *results* field.\n  * REVIEW - The request is being reviewed by Yext, most likely because this location may be a duplicate of another location already\n    receiving this service through Yext. Once the review is complete, *status* will be updated to either CANCELED or COMPLETE.\n  * FAILED - Processing the request failed due to a technical issue. Details may be available in the *statusDetail* field. No changes were made to your account, so you can\n    try the request again.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AddRequestsResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/addrequests/{addRequestId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "name": "addRequestId",
          "in": "path",
          "schema": {
            "type": "integer"
          },
          "description": "addRequestId returned from a previous call to **Add Requests: Create (New Location)**, **Add Requests: Create (Existing Location)**, or retrieved from **Add Requests: List (Location)**\n",
          "required": true
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "getAddRequest",
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: Get (Location)",
        "description": "Get status information about an add request that was previously created for a location.\n\nPossible statuses:\n  * SUBMITTED - The request has been submitted for processing. Updated status should be available soon, usually within seconds.\n  * PROCESSING - The request is currently being processed. Updated status should be available soon, usually within seconds.\n  * COMPLETE - The request was successfully processed and service was added. You can verify this by retrieving services for the location.\n  * CANCELED - The request was purposefully canceled by Yext and was not processed. Details are available in the *results* field.\n  * REVIEW - The request is being reviewed by Yext, most likely because this location may be a duplicate of another location already\n    receiving this service through Yext. Once the review is complete, *status* will be updated to either CANCELED or COMPLETE.\n  * FAILED - Processing the request failed due to a technical issue. Details may be available in the *statusDetail* field. No changes were made to your account, so you can\n    try the request again.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AddRequestResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/subaccountaddrequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "listSubAccountAddRequests",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SUBMITTED",
                "PROCESSING",
                "COMPLETE",
                "CANCELED",
                "FAILED"
              ]
            },
            "description": "Filters the list to add requests in a specific status."
          },
          {
            "name": "submittedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "submittedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "(`YYYY-MM-DDThh:mm:ss` format)"
          },
          {
            "name": "sku",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agreementId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subAccountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: List (Sub-Account)",
        "description": "Get all of the add requests in the account that were created for sub-accounts.\n\nPossible `status` values for each add request:\n  * SUBMITTED - The request has been submitted for processing. Updated status should be available soon, usually within seconds.\n  * PROCESSING - The request is currently being processed. Updated status should be available soon, usually within seconds.\n  * COMPLETE - The request was successfully processed and service was added. You can verify this by retrieving services for the sub-account.\n  * CANCELED - The request was purposefully canceled by Yext and was not processed. Details are available in the *results* field.\n  * FAILED - Processing the request failed due to a technical issue. Details may be available in the *statusDetail* field. No changes were made to your account, so you can\n    try the request again.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubAccountAddRequestsResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/subaccountaddrequests/{addRequestId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "name": "addRequestId",
          "in": "path",
          "schema": {
            "type": "integer"
          },
          "description": "addRequestId returned from a previous call to **Add Requests: Create (Existing Account)** or retrieved from **Add Requests: List (Sub-Account)**\n",
          "required": true
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "getSubAccountAddRequest",
        "tags": [
          "Administrative API"
        ],
        "summary": "Add Requests: Get (Sub-Account)",
        "description": "Get status information about an add request that was previously created for a sub-account.\n\nPossible statuses:\n  * SUBMITTED - The request has been submitted for processing. Updated status should be available soon, usually within seconds.\n  * PROCESSING - The request is currently being processed. Updated status should be available soon, usually within seconds.\n  * COMPLETE - The request was successfully processed and service was added. You can verify this by retrieving services for the sub-account.\n  * CANCELED - The request was purposefully canceled by Yext and was not processed. Details are available in the *results* field.\n  * FAILED - Processing the request failed due to a technical issue. Details may be available in the *statusDetail* field. No changes were made to your account, so you can\n    try the request again.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubAccountAddRequestResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/services": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the account.\n\n**NOTE:** To retrieve information about services provisioned on a location under a sub-account, enter the ID of the *main account* rather than the sub-account.\n"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "listServices",
        "tags": [
          "Administrative API"
        ],
        "summary": "Services: List (Location)",
        "description": "Retrieve a list of all services provisioned on a location.\n\n**NOTE:** If you have added location services under sub-accounts, they will be returned from this endpoint on your *main account*.\n",
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationAccountId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "*(Portal Mode only)* Filters on the account that the location receiving service is in.\n"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "STOPPED",
                "ALL"
              ]
            },
            "description": "Status of the service. By default, returns only Active services, not All services."
          },
          {
            "name": "agreementId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/subaccountservices": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "The ID of the account.\n\n**NOTE:** To retrieve information about services provisioned on a sub-account, enter the ID of the *main account* rather than the sub-account.\n"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "listSubAccountServices",
        "tags": [
          "Administrative API"
        ],
        "summary": "Services: List (Sub-Account)",
        "description": "Retrieve a list of all services provisioned on a sub-account.\n\n**NOTE:** If you have added services to sub-accounts, they will be returned from this endpoint on your *main account*.\n",
        "parameters": [
          {
            "name": "sku",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subAccountId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "STOPPED",
                "ALL"
              ]
            },
            "description": "Status of the service. By default, returns only Active services, not All services."
          },
          {
            "name": "agreementId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SubAccountServicesResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/createsubaccount": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "createSubAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubAccountRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Accounts: Create Sub-Account",
        "description": "Request to create a new empty sub-account under this account.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CreateSubAccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/resourcesapplyrequests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "post": {
        "operationId": "resourcesApplyRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesApplyRequest"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Resources Apply Request: Create (Account)",
        "description": "Create a request to asynchronously apply resources using the URL of a GitHub repository.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResourcesApplyRequestResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/resourcesapplyrequests/{requestId}": {
      "parameters": [
        {
          "name": "requestId",
          "in": "path",
          "schema": {
            "type": "integer"
          },
          "description": "requestId returned from a previous call to **Resources Apply Requests: Create (Account)**\n",
          "required": true
        },
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "getResourcesApplyRequestStatus",
        "tags": [
          "Administrative API"
        ],
        "summary": "Resources Apply Request Status: Get (Account)",
        "description": "Make a request to get the status of the Resources Apply Request.\n",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ResourcesApplyRequestResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "listAccounts",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Returns only accounts whose name contains the provided string"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            }
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "tags": [
          "Administrative API"
        ],
        "summary": "Accounts: List",
        "description": "List all accounts that you have access to. Unless you are in Partner Portal mode, this will only be your own account.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountsResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/accountId"
        },
        {
          "$ref": "#/components/parameters/v"
        }
      ],
      "get": {
        "operationId": "getAccount",
        "tags": [
          "Administrative API"
        ],
        "summary": "Accounts: Get",
        "description": "Get details for an account",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "put": {
        "operationId": "updateAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccount"
              }
            }
          }
        },
        "tags": [
          "Administrative API"
        ],
        "summary": "Accounts: Update",
        "description": "Update an account's name or ID",
        "responses": {
          "200": {
            "$ref": "#/components/responses/IdResponse"
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "query"
      },
      "api-key": {
        "type": "apiKey",
        "name": "api-key",
        "in": "header"
      }
    },
    "parameters": {
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "v": {
        "name": "v",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "A date in `YYYYMMDD` format."
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "default": 0
        },
        "description": "\nNumber of results to skip. Used to page through results.\nCannot be used together with **`pageToken`**.\n"
      }
    },
    "schemas": {
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "example": "4f72b877-e2d0-4de4-9324-b9cf2c03e1a0",
            "description": "Unique ID for this request / response."
          }
        }
      },
      "ResponseError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Code that uniquely identifies the error or warning.\n"
          },
          "type": {
            "type": "string",
            "enum": [
              "FATAL_ERROR",
              "NON_FATAL_ERROR",
              "WARNING"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message explaining the problem."
          }
        }
      },
      "ResponseMetaWithError": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          {
            "type": "object",
            "properties": {
              "errors": {
                "type": "array",
                "description": "List of errors and warnings.",
                "items": {
                  "$ref": "#/components/schemas/ResponseError"
                }
              }
            }
          }
        ]
      },
      "AvailableService": {
        "title": "Available Service",
        "type": "object",
        "properties": {
          "sku": {
            "type": "string",
            "example": "SKU-00000165"
          },
          "agreementId": {
            "type": "integer",
            "example": 304348,
            "description": "The ID for the agreement that this service is offered under."
          },
          "serviceDescription": {
            "type": "string",
            "example": "Location Cloud Starter (Partner)",
            "description": "Information about this service."
          },
          "recipientType": {
            "type": "string",
            "enum": [
              "Location",
              "Sub-Account"
            ],
            "example": "Location",
            "description": "Recipient type of the service. Only shown with `v` parameters `20210318` and later."
          },
          "minimumUsage": {
            "type": "integer",
            "minimum": 1,
            "example": 14,
            "description": "Optional. The minimum amount of time a service has to be active before it can be canceled. In the units specified by *minimumUsageUnit*."
          },
          "minimumUsageUnit": {
            "type": "string",
            "enum": [
              "DAYS",
              "MONTHS"
            ],
            "example": "DAYS",
            "description": "Optional. The unit for *minimumUsage*."
          },
          "addOnTo": {
            "type": "array",
            "description": "Optional. List of SKUs that this is an add-on to.\n\nWhen adding this service for a location by creating an *addRequest*, you must either supply one of these SKUs along with this one, or the location must already have one of these services.\n",
            "items": {
              "type": "string"
            },
            "example": [
              "SKU-00000167",
              "SKU-00000168"
            ]
          }
        }
      },
      "NewLocationAddRequest": {
        "type": "object",
        "discriminator": {
          "propertyName": "newEntityType",
          "mapping": {
            "atm": "#/components/schemas/NewLocationAddRequestATM",
            "healthcareFacility": "#/components/schemas/NewLocationAddRequestHealthcareFacility",
            "healthcareProfessional": "#/components/schemas/NewLocationAddRequestHealthcareProfessional",
            "hotel": "#/components/schemas/NewLocationAddRequestHotel",
            "location": "#/components/schemas/NewLocationAddRequestLocation",
            "restaurant": "#/components/schemas/NewLocationAddRequestRestaurant"
          }
        },
        "required": [
          "newLocationId",
          "newLocationData",
          "newEntityData",
          "skus"
        ],
        "properties": {
          "newLocationId": {
            "type": "string",
            "description": "Your ID for the location to be added."
          },
          "newLocationAccountId": {
            "type": "string",
            "example": "CST-43843",
            "description": "*(Partner Portal mode)* Supply your ID for the account that the new location should be created in. If this account is your main account or an existing sub-account, the location will be placed there. Otherwise, a new account will be created.\n"
          },
          "newLocationAccountName": {
            "type": "string",
            "example": "Bill's Auto Shop",
            "description": "*(Partner Portal mode)* If a new account is created, this field's value will set the account's name. If a new account is created, and a value for this field is not provided, the new account's name will default to the location's name.\n"
          },
          "newAccountParentAccountId": {
            "type": "string",
            "example": "PAR-001",
            "description": "*(Partner Portal mode, advanced use only)* If you have a multi-layer account structure and want the new account created for this request to be under one of your sub-accounts, rather than directly under your main account, specify that sub-account's ID in this field.\n"
          },
          "newLocationData": {
            "description": "If you set `newLocationId`, you must specify either `newLocationData` or `newEntityData`.\n\nThis field allows you to set the profile data for a location, using our legacy format.\nProfile content is specified in the same format as when creating a location with the Locations: Create endpoint.\n\nIf the Add Request is processed successfully, this data will be used to create a new location in your account.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/Location"
              }
            ]
          },
          "newEntityType": {
            "description": "If you set `newEntityData`, this field specifies the type of entity to be created.\n",
            "enum": [
              "atm",
              "healthcareFacility",
              "healthcareProfessional",
              "hotel",
              "location",
              "restaurant"
            ],
            "type": "string",
            "default": "location"
          },
          "newEntityData": {
            "description": "If you set `newLocationId`, you must specify either `newLocationData` or `newEntityData`.\n\nThis field allows you to set the profile data for an entity.\nProfile content is specified in the same format as when creating an entity with the Entities: Create endpoint.\nYou can only create entities of a type specified by `newEntityType`.\n\nIf the Add Request is processed successfully, this data will be used to create a new entity in your account.\n\n**The dropdown will specify the profile content for `newEntityData`. Specify the entity type with `newEntityType` described above.**\n"
          },
          "skus": {
            "type": "array",
            "description": "List of SKUs that you would like to sign the location up for, from among those listed in the **Available Services: List** response with Location recipientType.\n",
            "items": {
              "type": "string"
            },
            "example": [
              "SKU-00000167",
              "SKU-00000168"
            ]
          },
          "agreementId": {
            "type": "integer",
            "example": 1588,
            "description": "*(Advanced field)* The Agreement ID of the agreement that services will be added under. This value is set automatically by Yext when you create the Add request. (You can specify it yourself, but should not do so unless you have intentionally set up multiple active agreements with Yext, since it could cause your integration to break when you renew or upgrade your agreement.)\n"
          },
          "forceReview": {
            "type": "boolean",
            "example": false,
            "description": "*(Sandbox API only)* Forces this Add request into the `REVIEW` status if it otherwise would have completed successfully.\n"
          }
        }
      },
      "AtmWrite": {
        "allOf": [
          {
            "$ref": "#/components/schemas/EntityWrite"
          },
          {
            "additionalProperties": false,
            "type": "object",
            "properties": {
              "meta": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "countryCode": {
                    "minLength": 0,
                    "type": "string",
                    "description": "Country code of this Entity's Language Profile (defaults to the country of the account)"
                  },
                  "folderId": {
                    "minLength": 0,
                    "type": "string",
                    "description": "The ID of the folder containing this Entity"
                  },
                  "id": {
                    "minLength": 0,
                    "type": "string",
                    "description": "ID of this Entity"
                  },
                  "labels": {
                    "uniqueItems": false,
                    "type": "array",
                    "items": {
                      "minLength": 0,
                      "type": "string"
                    },
                    "description": "This Entity's labels. If the **`v`** parameter is before `20211215`, this will be an integer."
                  },
                  "language": {
                    "minLength": 0,
                    "type": "string",
                    "description": "Language code of this Entity's Language Profile (defaults to the language code of the account)"
                  }
                },
                "description": "Contains the metadata about the entity."
              },
              "name": {
                "minLength": 0,
                "maxLength": 5000,
                "type": "string",
                "description": "\n\n\nCannot Include:\n* HTML markup"
              },
              "address": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "city": {
                    "minLength": 0,
                    "maxLength": 255,
                    "type": "string",
                    "description": "The city the entity (or the entity's location) is in\n\n\nCannot Include:\n* a URL or domain name"
                  },
                  "countryCode": {
                    "minLength": 0,
                    "pattern": "^[a-zA-Z]{2}$",
                    "type": "string"
                  },
                  "extraDescription": {
                    "minLength": 0,
                    "maxLength": 255,
                    "type": "string",
                    "description": "Provides additional information to help consumers get to the entity. This string appears along with the entity's address (e.g., `In Menlo Mall, 3rd Floor`).\nIt may also be used in conjunction with a hidden address (i.e., when **`addressHidden`** is `true`) to give consumers information about where the entity can be found (e.g., `Servicing the New York area`)."
                  },
                  "line1": {
                    "minLength": 0,
                    "maxLength": 255,
                    "type": "string",
                    "description": "\nCannot Include:\n* a URL or domain name"
                  },
                  "line2": {
                    "minLength": 0,
                    "maxLength": 255,
                    "type": "string",
                    "description": "\nCannot Include:\n* a URL or domain name"
                  },
                  "postalCode": {
                    "minLength": 0,
                    "maxLength": 10,
                    "type": "string",
                    "description": "The entity's postal code. The postal code must be valid for the entity's country. Cannot include a URL or domain name.\n\n\nCannot Include:\n* a URL or domain name"
                  },
                  "region": {
                    "minLength": 0,
                    "maxLength": 255,
                    "type": "string",
                    "description": "The name of the entity's region or state.\n\n\nCannot Include:\n* a URL or domain name"
                  },
                  "sublocality": {
                    "minLength": 0,
                    "maxLength": 255,
                    "type": "string",
                    "description": "The name of the entity's sublocality\n\n\nCannot Include:\n* a URL or domain name"
                  }
                },
                "description": "Contains the address of the entity (or where the entity is located)\n\nMust be a valid address\nCannot be a P.O. Box\n\nIf the entity is an `event`, either an **`address`** value or a **`linkedLocation`** value can be provided."
              },
              "accessHours": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "friday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the access hours are \"closed\" on Friday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity is open on Friday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "holidayHours": {
                    "description": "\n**NOTE:** The list of Holiday Hours that you send us must be comprehensive. For example, if you send us a list of Holiday Hours that does not include Holiday Hours that you sent in your last update, Yext considers the missing Holiday Hours to be deleted, and we remove them.\n\n\n\nArray must be ordered.\n",
                    "uniqueItems": true,
                    "type": "array",
                    "items": {
                      "required": [
                        "date"
                      ],
                      "additionalProperties": false,
                      "type": "object",
                      "properties": {
                        "date": {
                          "format": "date",
                          "type": "string",
                          "description": "Date on which the holiday hours will be in effect. Cannot be in the past.\n\n\nDate must be on or after 1970-01-01\nDate must be before or on 2038-01-01"
                        },
                        "isClosed": {
                          "type": "boolean",
                          "description": "Indicates if the access hours are \"closed\" on on the given date."
                        },
                        "isRegularHours": {
                          "type": "boolean",
                          "description": "Indicates whether the holiday hours are the same as the regular business hours for the given date. If set to true, we will update the holiday hours if the regular business hours change for the date's day of the week."
                        },
                        "openIntervals": {
                          "uniqueItems": false,
                          "type": "array",
                          "items": {
                            "required": [
                              "start",
                              "end"
                            ],
                            "additionalProperties": false,
                            "type": "object",
                            "properties": {
                              "end": {
                                "format": "time",
                                "type": "string",
                                "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                              },
                              "start": {
                                "format": "time",
                                "type": "string",
                                "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                              }
                            }
                          },
                          "description": "Contains the time intervals for which the Entity is open on the specified date."
                        }
                      }
                    }
                  },
                  "monday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the access hours are \"closed\" on Monday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity is open on Monday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "reopenDate": {
                    "format": "date",
                    "type": "string",
                    "description": "\nDate must be on or after 1970-01-01\nDate must be before or on 2038-01-01"
                  },
                  "saturday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the access hours are \"closed\" on Saturday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity is open on Saturday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "sunday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the access hours are \"closed\" on Sunday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity is open on Sunday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "thursday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the access hours are \"closed\" on Thursday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity is open on Thursday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "tuesday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the access hours are \"closed\" on Tuesday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity is open on Tuesday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "wednesday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the access hours are \"closed\" on Wednesday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity is open on Wednesday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  }
                },
                "description": "Contains the daily access hours, holiday access hours, and reopen date for the Entity.\n\nEach day is represented by a sub-field of `accessHours`. (e.g. `monday`, `tuesday`, etc.) Open times can be specified per day through the `openIntervals` field and the `isClosed` flag.\nSimilarly, holiday access hours are represented by the `holidayHours` sub-field.\nSetting the `reopenDate` sub-field indicates that the business is temporarily closed and will reopen on the specified date.\nSPECIAL CASES:\n* To indicate that an Entity is open 24 hours on a specific day, set start to 00:00 and end to 23:59 in `openIntervals` for that day.\n* To indicate that an Entity has split hours on a specific day (e.g., open from 9:00 AM to 12:00 PM and again from 1:00 PM to 5:00 PM), supply two or more `openIntervals` values with non-overlapping sets of hours.\n* If you are providing `openIntervals`, you may not set `isClosed` to true for that day."
              },
              "additionalHoursText": {
                "minLength": 0,
                "maxLength": 255,
                "type": "string",
                "description": "Additional information about hours that does not fit in **`hours`** (e.g., `\"Closed during the winter\"`)"
              },
              "alternateNames": {
                "description": "Other names for your business that you would like us to use when tracking your search performance\n\n\nArray must be ordered.\n\nArray may have a maximum of 3 elements.\n\nArray item description:\n\n>Cannot Include:\n>* HTML markup",
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "minLength": 0,
                  "maxLength": 100,
                  "type": "string",
                  "description": "\nCannot Include:\n* HTML markup"
                }
              },
              "alternatePhone": {
                "minLength": 0,
                "type": "string",
                "description": "Must be a valid phone number.\n\nIf the phone number's calling code is for a country other than the one given in the entity's **`countryCode`**, the phone number provided must contain the calling code (e.g., `+44` in `+442038083831`). Otherwise, the calling code is optional."
              },
              "alternateWebsites": {
                "description": "Other websites for your business that we should search for when tracking your search performance\n\n\nArray must be ordered.\n\nArray may have a maximum of 3 elements.\n\nArray item description:\n\n>Cannot Include:\n>* common domain names, e.g., google.com, youtube.com, etc.",
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "minLength": 0,
                  "maxLength": 255,
                  "format": "uri",
                  "type": "string",
                  "description": "\nCannot Include:\n* common domain names, e.g., google.com, youtube.com, etc."
                }
              },
              "appleActionLinks": {
                "description": "Use this field to add action links to your Apple Listings.\n\nThe call to action category will be displayed on the action link button.\n\nThe App Store URL should contain a valid link to the landing page of an App in the Apple App Store.\n\nThe Quick Link URL is where a user is taken when an action link is clicked by a user.\n\nThe App Name sub-field is not displayed on Apple Listings and is only used to distinguish the call-to-action type when utilizing action links in Apple posts.\n\n\nArray must be ordered.\n",
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "required": [
                    "category",
                    "quickLinkUrl",
                    "appName"
                  ],
                  "additionalProperties": false,
                  "type": "object",
                  "properties": {
                    "appName": {
                      "minLength": 0,
                      "maxLength": 18,
                      "type": "string"
                    },
                    "appStoreUrl": {
                      "minLength": 0,
                      "maxLength": 2000,
                      "format": "uri",
                      "type": "string"
                    },
                    "category": {
                      "enum": [
                        "BOOK_TRAVEL",
                        "CHECK_IN",
                        "FEES_POLICIES",
                        "FLIGHT_STATUS",
                        "TICKETS",
                        "TICKETING",
                        "AMENITIES",
                        "FRONT_DESK",
                        "PARKING",
                        "GIFT_CARD",
                        "WAITLIST",
                        "DELIVERY",
                        "ORDER",
                        "TAKEOUT",
                        "PICKUP",
                        "RESERVE",
                        "MENU",
                        "APPOINTMENT",
                        "PORTFOLIO",
                        "QUOTE",
                        "SERVICES",
                        "STORE_ORDERS",
                        "STORE_SHOP",
                        "STORE_SUPPORT",
                        "SCHEDULE",
                        "SHOWTIMES",
                        "AVAILABILITY",
                        "PRICING",
                        "ACTIVITIES",
                        "BOOK",
                        "BOOK_(HOTEL)",
                        "BOOK_(RIDE)",
                        "BOOK_(TOUR)",
                        "CAREERS",
                        "CHARGE",
                        "COUPONS",
                        "DELIVERY_(RETAIL)",
                        "DONATE",
                        "EVENTS",
                        "ORDER_(RETAIL)",
                        "OTHER_MENU",
                        "PICKUP_(RETAIL)",
                        "RESERVE_(PARKING)",
                        "SHOWS",
                        "SPORTS",
                        "SUPPORT",
                        "TEE_TIME",
                        "GIFT_CARD_(RESTAURANT)"
                      ],
                      "type": "string"
                    },
                    "quickLinkUrl": {
                      "minLength": 0,
                      "maxLength": 2000,
                      "format": "uri",
                      "type": "string"
                    }
                  }
                }
              },
              "appleBusinessDescription": {
                "minLength": 0,
                "maxLength": 500,
                "type": "string",
                "description": "The business description to be sent to Apple"
              },
              "appleBusinessId": {
                "minLength": 0,
                "pattern": "^\\d*\\.?\\d*$",
                "type": "string",
                "description": "The ID associated with an individual Business Folder in your Apple account"
              },
              "appleCompanyId": {
                "minLength": 0,
                "pattern": "^\\d*\\.?\\d*$",
                "type": "string",
                "description": "The ID associated with your Apple account. Numerical values only"
              },
              "appleCoverPhoto": {
                "required": [
                  "url"
                ],
                "additionalProperties": false,
                "type": "object",
                "description": "The cover photo for the entity''s Apple profile\n\n\nImage must be at least 1600 x 1040 pixels\n\nImage may be no more than 4864 x 3163 pixels\n\nSupported Aspect Ratios:\n* 154 x 100\n\n**NOTE**: Maximum image size is 5mb after normalization and padding (if applicable). As well, there is a 6 second download limit from the image host.\n",
                "properties": {
                  "alternateText": {
                    "minLength": 0,
                    "type": "string"
                  },
                  "url": {
                    "minLength": 0,
                    "format": "uri",
                    "type": "string"
                  }
                }
              },
              "appleDisplayName": {
                "minLength": 0,
                "maxLength": 5000,
                "type": "string",
                "description": "The name to be displayed on Apple for the entity.\nNOTE: The names of Brands and their respective Locations within an Apple Business Connect Account must match identically.\nCannot Include:\nHTML markup \n\n\nCannot Include:\n* HTML markup"
              },
              "categories": {
                "additionalProperties": false,
                "type": "object",
                "properties": {},
                "description": "Yext Categories. (Supported for versions > 20240220)\n\nA map of category list external IDs (i.e. \"yext\") to a list of category IDs.\n\nIDs must be valid and selectable (i.e., cannot be parent categories).\n\nPartial updates are accepted, meaning sending only the \"yext\" property will have no effect on any category list except the \"yext\" category. "
              },
              "categoryIds": {
                "uniqueItems": false,
                "type": "array",
                "items": {
                  "minLength": 0,
                  "type": "string"
                },
                "description": "Yext Category IDs. (Deprecated: For versions > 20240220)\n\nIDs must be valid and selectable (i.e., cannot be parent categories).\n\nNOTE: The list of category IDs that you send us must be comprehensive. For example, if you send us a list of IDs that does not include IDs that you sent in your last update, Yext considers the missing categories to be deleted, and we remove them from your listings.\n"
              },
              "closed": {
                "type": "boolean",
                "description": "Indicates whether the entity is closed"
              },
              "customKeywords": {
                "description": "Additional keywords you would like us to use when tracking your search performance\n\n\nArray must be ordered.\n\nArray may have a maximum of 5 elements.\n",
                "uniqueItems": true,
                "type": "array",
                "items": {
                  "minLength": 0,
                  "maxLength": 100,
                  "type": "string"
                }
              },
              "description": {
                "minLength": 10,
                "maxLength": 15000,
                "type": "string",
                "description": "A description of the entity\n\n\nCannot Include:\n* HTML markup"
              },
              "displayCoordinate": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "latitude": {
                    "minimum": -90,
                    "maximum": 90,
                    "type": "number"
                  },
                  "longitude": {
                    "minimum": -180,
                    "maximum": 180,
                    "type": "number"
                  }
                },
                "description": "Coordinates where the map pin for the entity should be displayed, as provided by you"
              },
              "driveThroughHours": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "friday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the drive-through hours are \"closed\" on Friday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity's drive-through is open on Friday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "holidayHours": {
                    "description": "\n**NOTE:** The list of Holiday Hours that you send us must be comprehensive. For example, if you send us a list of Holiday Hours that does not include Holiday Hours that you sent in your last update, Yext considers the missing Holiday Hours to be deleted, and we remove them.\n\n\n\nArray must be ordered.\n",
                    "uniqueItems": true,
                    "type": "array",
                    "items": {
                      "required": [
                        "date"
                      ],
                      "additionalProperties": false,
                      "type": "object",
                      "properties": {
                        "date": {
                          "format": "date",
                          "type": "string",
                          "description": "Date on which the holiday hours will be in effect. Cannot be in the past.\n\n\nDate must be on or after 1970-01-01\nDate must be before or on 2038-01-01"
                        },
                        "isClosed": {
                          "type": "boolean",
                          "description": "Indicates if the drive-through hours are \"closed\" on on the given date."
                        },
                        "isRegularHours": {
                          "type": "boolean",
                          "description": "Indicates whether the holiday hours are the same as the regular business hours for the given date. If set to true, we will update the holiday hours if the regular business hours change for the date's day of the week."
                        },
                        "openIntervals": {
                          "uniqueItems": false,
                          "type": "array",
                          "items": {
                            "required": [
                              "start",
                              "end"
                            ],
                            "additionalProperties": false,
                            "type": "object",
                            "properties": {
                              "end": {
                                "format": "time",
                                "type": "string",
                                "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                              },
                              "start": {
                                "format": "time",
                                "type": "string",
                                "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                              }
                            }
                          },
                          "description": "Contains the time intervals for which the Entity's drive-through is open on the specified date."
                        }
                      }
                    }
                  },
                  "monday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the drive-through hours are \"closed\" on Monday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity's drive-through is open on Monday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "reopenDate": {
                    "format": "date",
                    "type": "string",
                    "description": "\nDate must be on or after 1970-01-01\nDate must be before or on 2038-01-01"
                  },
                  "saturday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the drive-through hours are \"closed\" on Saturday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity's drive-through is open on Saturday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "sunday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the drive-through hours are \"closed\" on Sunday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity's drive-through is open on Sunday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "thursday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the drive-through hours are \"closed\" on Thursday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity's drive-through is open on Thursday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "tuesday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the drive-through hours are \"closed\" on Tuesday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity's drive-through is open on Tuesday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  },
                  "wednesday": {
                    "additionalProperties": false,
                    "type": "object",
                    "properties": {
                      "isClosed": {
                        "type": "boolean",
                        "description": "Indicates if the drive-through hours are \"closed\" on Wednesday."
                      },
                      "openIntervals": {
                        "uniqueItems": false,
                        "type": "array",
                        "items": {
                          "required": [
                            "start",
                            "end"
                          ],
                          "additionalProperties": false,
                          "type": "object",
                          "properties": {
                            "end": {
                              "format": "time",
                              "type": "string",
                              "description": "The end time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            },
                            "start": {
                              "format": "time",
                              "type": "string",
                              "description": "The start time of the interval in `hh:mm` format (e.g., `\"06:30\"`, `\"17:00\"`)."
                            }
                          }
                        },
                        "description": "Contains the time intervals for which the Entity's drive-through is open on Wednesday. Note that if isClosed is set to true, \"openIntervals\" cannot be provided in an update."
                      }
                    }
                  }
                },
                "description": "Contains the daily drive-through hours, holiday drive-through hours, and reopen date for the Entity.\n\nEach day is represented by a sub-field of `driveThroughHours`. (e.g. `monday`, `tuesday`, etc.) Open times can be specified per day through the `openIntervals` field and the `isClosed` flag.\nSimilarly, holiday drive-through hours are represented by the `holidayHours` sub-field.\nSetting the `reopenDate` sub-field indicates that the business is temporarily closed and will reopen on the specified date.\nSPECIAL CASES:\n* To indicate that an Entity is open 24 hours on a specific day, set start to 00:00 and end to 23:59 in `openIntervals` for that day.\n* To indicate that an Entity has split hours on a specific day (e.g., open from 9:00 AM to 12:00 PM and again from 1:00 PM to 5:00 PM), supply two or more `openIntervals` values with non-overlapping sets of hours.\n* If you are providing `openIntervals`, you may not set `isClosed` to true for that day."
              },
              "dropoffCoordinate": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "latitude": {
                    "minimum": -90,
                    "maximum": 90,
                    "type": "number"
                  },
                  "longitude": {
                    "minimum": -180,
                    "maximum": 180,
                    "type": "number"
                  }
                },
                "description": "Coordinates of the drop-off area for the entity, as provided by you"
              },
              "facebookAbout": {
                "minLength": 0,
                "maxLength": 255,
                "type": "string",
                "description": "A description of the entity to be used in the \"About You\" section on Facebook"
              },
              "facebookCallToAction": {
                "required": [
                  "type"
                ],
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "type": {
                    "enum": [
                      "NONE",
                      "BOOK_NOW",
                      "CALL_NOW",
                      "CONTACT_US",
                      "SEND_MESSAGE",
                      "USE_APP",
                      "PLAY_GAME",
                      "SHOP_NOW",
                      "SIGN_UP",
                      "WATCH_VIDEO",
                      "SEND_EMAIL",
                      "LEARN_MORE",
                      "PURCHASE_GIFT_CARDS",
                      "ORDER_NOW",
                      "FOLLOW_PAGE"
                    ],
                    "type": "string",
                    "description": "The action the consumer is being prompted to take by the button's text"
                  },
                  "value": {
                    "minLength": 0,
                    "type": "string",
                    "description": "Indicates where consumers will be directed to upon clicking the Call-to-Action button (e.g., a URL). It can be a free-form string or an embedded value, depending on what the user specifies.\n\nFor example, if the user sets the Facebook Call-to-Action as \" 'Sign Up' using 'Website URL' \" in the Yext platform, **`type`** will be `SIGN_UP` and **`value`** will be `[[websiteUrl]]`.\n\nThe Call-to-Action will have the same behavior if the user sets the value to \"Custom Value\" in the platform and embeds a field."
                  }
                },
                "description": "Designates the Facebook Call-to-Action button text and value\n\nValid contents of **`value`** depends on the Call-to-Action's **`type`**:\n* `NONE`: (optional)\n* `BOOK_NOW`: URL\n* `CALL_NOW`: Phone number\n* `CONTACT_US`: URL\n* `SEND_MESSAGE`: Any string\n* `USE_APP`: URL\n* `PLAY_GAME`: URL\n* `SHOP_NOW`: URL\n* `SIGN_UP`: URL\n* `WATCH_VIDEO`: URL\n* `SEND_EMAIL`: Email address\n* `LEARN_MORE`: URL\n* `PURCHASE_GIFT_CARDS`: URL\n* `ORDER_NOW`: URL\n* `FOLLOW_PAGE`: Any string"
              },
              "facebookCoverPhoto": {
                "required": [
                  "url"
                ],
                "additionalProperties": false,
                "type": "object",
                "description": "The cover photo for the entity's Facebook profile\n\nDisplayed as a 851 x 315 pixel image\n\nYou may need a cover photo in order for your listing to appear on Facebook. Please check your listings tab to learn more.\n\n\nImage must be at least 400 x 150 pixels\n\nImage area (width x height) may be no more than 41000000 pixels\n\nImage may be no more than 30000 x 30000 pixels\n\nSupported Aspect Ratios:\n* 1 x 1\n* 4 x 3\n* 3 x 2\n* 5 x 3\n* 16 x 9\n* 3 x 1\n* 2 x 3\n* 5 x 7\n* 4 x 5\n* 4 x 1\n\n**NOTE**: Maximum image size is 5mb after normalization and padding (if applicable). As well, there is a 6 second download limit from the image host.\n",
                "properties": {
                  "alternateText": {
                    "minLength": 0,
                    "type": "string"
                  },
                  "url": {
                    "minLength": 0,
                    "format": "uri",
                    "type": "string"
                  }
                }
              },
              "facebookDescriptor": {
                "minLength": 3,
                "maxLength": 75,
                "type": "string",
                "description": "Location Descriptors are used for Enterprise businesses that sync Facebook listings using brand page location structure. The Location Descriptor is typically an additional geographic description (e.g. geomodifier) that will appear in parentheses after the name on the Facebook listing.\n\n\nCannot Include:\n* HTML markup"
              },
              "facebookName": {
                "minLength": 0,
                "type": "string",
                "description": "The name for this entity's Facebook profile.  A separate name may be specified to send only to Facebook in order to comply with any specific Facebook rules or naming conventions."
              },
              "facebookOverrideCity": {
                "minLength": 0,
                "type": "string",
                "description": "The city to be displayed on this entity's Facebook profile"
              },
              "facebookPageUrl": {
                "minLength": 0,
                "type": "string",
                "description": "URL for the entity's Facebook Page.\n\nValid formats:\n\n- facebook.com/profile.php?id=[numId]\n- facebook.com/group.php?gid=[numId]\n- facebook.com/groups/[numId]\n- facebook.com/[Name]\n- facebook.com/pages/[Name]/[numId]\n- facebook.com/people/[Name]/[numId]\n\nwhere [Name] is a String and [numId] is an Integer\nThe success response will contain a warning message explaining why the URL wasn't stored in the system."
              },
              "facebookParentPageId": {
                "minLength": 0,
                "maxLength": 65,
                "type": "string",
                "description": "The Facebook Page ID of this entity's brand page if in a brand page location structure"
              },
              "facebookProfilePhoto": {
                "required": [
                  "url"
                ],
                "additionalProperties": false,
                "type": "object",
                "description": "The profile picture for the entity's Facebook profile\n\nYou must have a profile picture in order for your listing to appear on Facebook.\n\n\nImage must be at least 180 x 180 pixels\n\nImage area (width x height) may be no more than 41000000 pixels\n\nImage may be no more than 30000 x 30000 pixels\n\nSupported Aspect Ratios:\n* 1 x 1\n* 4 x 3\n* 3 x 2\n* 5 x 3\n* 16 x 9\n* 3 x 1\n* 2 x 3\n* 5 x 7\n* 4 x 5\n* 4 x 1\n\n**NOTE**: Maximum image size is 5mb after normalization and padding (if applicable). As well, there is a 6 second download limit from the image host.\n",
                "properties": {
                  "alternateText": {
                    "minLength": 0,
                    "type": "string"
                  },
                  "url": {
                    "minLength": 0,
                    "format": "uri",
                    "type": "string"
                  }
                }
              },
              "facebookStoreId": {
                "minLength": 0,
                "type": "string",
                "description": "The Store ID used for this entity in a brand page location structure"
              },
              "facebookVanityUrl": {
                "minLength": 0,
                "maxLength": 50,
                "type": "string",
                "description": "The username that appear's in the Facebook listing URL to help customers find and remember a brand’s Facebook page.  The username is also be used for tagging the Facebook page in other users’ posts, and searching for the Facebook page."
              },
              "facebookWebsiteOverride": {
                "minLength": 0,
                "format": "uri",
                "type": "string",
                "description": "The URL you would like to submit to Facebook in place of the one given in **`websiteUrl`** (if applicable)."
              },
              "fax": {
                "minLength": 0,
                "type": "string",
                "description": "Must be a valid fax number.\n\nIf the fax number's calling code is for a country other than the one given in the entity's **`countryCode`**, the fax number provided must contain the calling code (e.g., `+44` in `+442038083831`). Otherwise, the calling code is optional."
              },
              "featuredMessage": {
                "additionalProperties": false,
                "type": "object",
                "properties": {
                  "description": {
                    "minLength": 0,
                    "maxLength": 50,
                    "type": "string",
                    "description": "The text of Featured Message. Default: `Call today!`\n\nCannot include:\n\n- inappropriate language\n- HTML markup\n- a URL or domain name\n- a phone number\n- control characters ([\\x00-\\x1F\\x7F])\n- insufficient spacing\n\nIf you submit a Featured Message that contains profanity or more than 50 characters, it will be ignored. The success response will contain a warning message explaining why your Featured Message wasn't stored in the system.\n\n\nCannot Include:\n* HTML markup"
                  },
                  "url": {
                    "minLength": 0,
                    "maxLength": 255,
                    "format": "uri",
                    "type": "string",
[...]
