{
  "openapi": "3.0.0",
  "info": {
    "title": "Domains API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.yextapis.com/v2"
    },
    {
      "url": "https://api.eu.yextapis.com/v2"
    }
  ],
  "paths": {
    "/accounts/{accountId}/domains": {
      "post": {
        "operationId": "createDomain",
        "tags": [
          "Domains"
        ],
        "summary": "Create Domain",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/v"
          }
        ],
        "requestBody": {
          "description": "Configuration for the domain to be created.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Identifier for the resource.",
                    "type": "string",
                    "readOnly": true,
                    "example": "accounts/123456/domains/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                  },
                  "hostname": {
                    "description": "Fully qualified domain name that will be delegated to Yext.",
                    "type": "string",
                    "example": "www.example.com"
                  },
                  "wildcard": {
                    "description": "If set to true, [Domain Associations](#tag/Domain-Associations) can be created for single-level subdomains of the given hostname.\n",
                    "type": "boolean",
                    "default": false
                  },
                  "destination": {
                    "description": "The Yext product the domain will be used for. Currently, only `PAGES` is supported.\n",
                    "type": "string",
                    "enum": [
                      "PAGES"
                    ],
                    "example": "PAGES"
                  },
                  "integration_type": {
                    "description": "How the domain will be integrated with Yext. Only `USER_OWNED` is supported for domains created via the API.\n",
                    "type": "string",
                    "enum": [
                      "USER_OWNED",
                      "CUSTOM",
                      "LEGACY_YEXT_MANAGED"
                    ],
                    "example": "USER_OWNED"
                  },
                  "state": {
                    "type": "string",
                    "readOnly": true,
                    "enum": [
                      "PENDING_VERIFICATION",
                      "VERIFICATION_FAILED",
                      "PENDING_CREATION",
                      "CREATING",
                      "CREATION_FAILED",
                      "ACTIVE",
                      "PENDING_DELETION",
                      "DELETED",
                      "BLOCKED",
                      "DELETION_FAILED",
                      "MOVE_REQUIRED"
                    ],
                    "example": "ACTIVE"
                  },
                  "ownership_verification": {
                    "description": "One of CNAME, TXT, or HTTP verification must be used to complete Yext ownership verification for the domain.\nThe tokens to use for each of these methods are provided in this object.\n",
                    "type": "object",
                    "readOnly": true,
                    "properties": {
                      "cname_target": {
                        "type": "string",
                        "example": "idzm5s34j5.yext.pgscdncf.com."
                      },
                      "txt_domain": {
                        "type": "string",
                        "example": "_yext-domain.www.example.com"
                      },
                      "txt_value": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "http_uri": {
                        "type": "string",
                        "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                      },
                      "http_body": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  "managed_ssl": {
                    "description": "SSL certificate will be automatically managed by Yext.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                    "type": "object",
                    "required": [
                      "certificate_authority",
                      "validation_method"
                    ],
                    "properties": {
                      "certificate_authority": {
                        "type": "string",
                        "enum": [
                          "GOOGLE_TRUST",
                          "LETS_ENCRYPT"
                        ],
                        "default": "GOOGLE_TRUST"
                      },
                      "validation_method": {
                        "type": "string",
                        "enum": [
                          "HTTP",
                          "TXT"
                        ],
                        "example": "HTTP"
                      },
                      "hostname_validation": {
                        "description": "Proof of ownership for the SSL provider.\n",
                        "type": "object",
                        "readOnly": true,
                        "properties": {
                          "cname_target": {
                            "type": "string",
                            "example": "idzm5s34j5.yext.pgscdncf.com."
                          },
                          "txt_domain": {
                            "type": "string",
                            "example": "_yext-domain.www.example.com"
                          },
                          "txt_value": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "http_uri": {
                            "type": "string",
                            "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                          },
                          "http_body": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      },
                      "http_validation": {
                        "description": "This will only be set if `HTTP` is selected via the `validation_method` field.\n",
                        "type": "object",
                        "readOnly": true,
                        "properties": {
                          "uri": {
                            "type": "string",
                            "example": "http://www.example.com/.well-known/acme-challenge/0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr"
                          },
                          "body": {
                            "type": "string",
                            "example": "0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr.r54qAqCZSs4xyyeamMffaxyR1FWYVb5OvwUh8EcrhpI"
                          }
                        }
                      },
                      "txt_validation": {
                        "description": "This will only be set if `TXT` is selected via the `validation_method` field.\nThe delegated DCV CNAME is recommended over the individual TXT records,since delegated DCV would only need to be\ndone one time, whereas the individual TXT records would have to be set everytime the certificate is renewed.\n",
                        "type": "object",
                        "readOnly": true,
                        "properties": {
                          "delegated_dcv_domain": {
                            "type": "string"
                          },
                          "delegated_dcv_cname_target": {
                            "type": "string"
                          },
                          "txt_records": {
                            "description": "Will have multiple required tokens if the domain is a wildcard domain.\n",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "domain": {
                                  "type": "string",
                                  "example": "_acme-challenge.www.example.com"
                                },
                                "value": {
                                  "type": "string",
                                  "example": "-sXIiCspHlmE7GU-vV-6oBR-M6BU-4d1A4Ak3O1cGos"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "managed_csr": {
                    "description": "SSL certificate will be issued using the given [Managed CSR](#tag/Managed-CSRs).\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                    "type": "object",
                    "required": [
                      "custom_public_certificate"
                    ],
                    "properties": {
                      "managed_csr_id": {
                        "description": "The name of the [Managed CSR](#tag/Managed-CSRs) resource.\n",
                        "type": "string",
                        "example": "accounts/123456/csrs/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                      },
                      "custom_public_certificate": {
                        "description": "Public CA signed certificate.\n",
                        "type": "string",
                        "format": "pem",
                        "writeOnly": true,
                        "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                      },
                      "hostname_validation": {
                        "description": "Proof of ownership for the SSL provider.\n",
                        "type": "object",
                        "readOnly": true,
                        "properties": {
                          "cname_target": {
                            "type": "string",
                            "example": "idzm5s34j5.yext.pgscdncf.com."
                          },
                          "txt_domain": {
                            "type": "string",
                            "example": "_yext-domain.www.example.com"
                          },
                          "txt_value": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "http_uri": {
                            "type": "string",
                            "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                          },
                          "http_body": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  },
                  "custom_ssl_certificate": {
                    "description": "The provided custom SSL certificate will be used for serving requests to the domain.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                    "type": "object",
                    "required": [
                      "public_certificate",
                      "private_key"
                    ],
                    "properties": {
                      "public_certificate": {
                        "type": "string",
                        "format": "pem",
                        "writeOnly": true,
                        "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                      },
                      "private_key": {
                        "type": "string",
                        "format": "pem",
                        "writeOnly": true,
                        "example": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDBj08sp5++4anG\n...\n-----END PRIVATE KEY-----\n"
                      },
                      "hostname_validation": {
                        "description": "Proof of ownership for the SSL provider.\n",
                        "type": "object",
                        "readOnly": true,
                        "properties": {
                          "cname_target": {
                            "type": "string",
                            "example": "idzm5s34j5.yext.pgscdncf.com."
                          },
                          "txt_domain": {
                            "type": "string",
                            "example": "_yext-domain.www.example.com"
                          },
                          "txt_value": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "http_uri": {
                            "type": "string",
                            "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                          },
                          "http_body": {
                            "type": "string",
                            "format": "uuid"
                          }
                        }
                      }
                    }
                  },
                  "errors": {
                    "description": "Errors and/or warnings regarding the Domain setup.",
                    "type": "array",
                    "readOnly": true,
                    "items": {
                      "$ref": "#/components/schemas/ResponseError"
                    }
                  },
                  "create_time": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  },
                  "update_time": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  },
                  "delete_time": {
                    "type": "string",
                    "format": "date-time",
                    "readOnly": true
                  }
                },
                "required": [
                  "hostname",
                  "destination",
                  "integration_type"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    },
                    "response": {
                      "title": "Domain",
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Identifier for the resource.",
                          "type": "string",
                          "readOnly": true,
                          "example": "accounts/123456/domains/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                        },
                        "hostname": {
                          "description": "Fully qualified domain name that will be delegated to Yext.",
                          "type": "string",
                          "example": "www.example.com"
                        },
                        "wildcard": {
                          "description": "If set to true, [Domain Associations](#tag/Domain-Associations) can be created for single-level subdomains of the given hostname.\n",
                          "type": "boolean",
                          "default": false
                        },
                        "destination": {
                          "description": "The Yext product the domain will be used for. Currently, only `PAGES` is supported.\n",
                          "type": "string",
                          "enum": [
                            "PAGES"
                          ],
                          "example": "PAGES"
                        },
                        "integration_type": {
                          "description": "How the domain will be integrated with Yext. Only `USER_OWNED` is supported for domains created via the API.\n",
                          "type": "string",
                          "enum": [
                            "USER_OWNED",
                            "CUSTOM",
                            "LEGACY_YEXT_MANAGED"
                          ],
                          "example": "USER_OWNED"
                        },
                        "state": {
                          "type": "string",
                          "readOnly": true,
                          "enum": [
                            "PENDING_VERIFICATION",
                            "VERIFICATION_FAILED",
                            "PENDING_CREATION",
                            "CREATING",
                            "CREATION_FAILED",
                            "ACTIVE",
                            "PENDING_DELETION",
                            "DELETED",
                            "BLOCKED",
                            "DELETION_FAILED",
                            "MOVE_REQUIRED"
                          ],
                          "example": "ACTIVE"
                        },
                        "ownership_verification": {
                          "description": "One of CNAME, TXT, or HTTP verification must be used to complete Yext ownership verification for the domain.\nThe tokens to use for each of these methods are provided in this object.\n",
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "cname_target": {
                              "type": "string",
                              "example": "idzm5s34j5.yext.pgscdncf.com."
                            },
                            "txt_domain": {
                              "type": "string",
                              "example": "_yext-domain.www.example.com"
                            },
                            "txt_value": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "http_uri": {
                              "type": "string",
                              "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                            },
                            "http_body": {
                              "type": "string",
                              "format": "uuid"
                            }
                          }
                        },
                        "managed_ssl": {
                          "description": "SSL certificate will be automatically managed by Yext.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "certificate_authority",
                            "validation_method"
                          ],
                          "properties": {
                            "certificate_authority": {
                              "type": "string",
                              "enum": [
                                "GOOGLE_TRUST",
                                "LETS_ENCRYPT"
                              ],
                              "default": "GOOGLE_TRUST"
                            },
                            "validation_method": {
                              "type": "string",
                              "enum": [
                                "HTTP",
                                "TXT"
                              ],
                              "example": "HTTP"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            },
                            "http_validation": {
                              "description": "This will only be set if `HTTP` is selected via the `validation_method` field.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/acme-challenge/0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr"
                                },
                                "body": {
                                  "type": "string",
                                  "example": "0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr.r54qAqCZSs4xyyeamMffaxyR1FWYVb5OvwUh8EcrhpI"
                                }
                              }
                            },
                            "txt_validation": {
                              "description": "This will only be set if `TXT` is selected via the `validation_method` field.\nThe delegated DCV CNAME is recommended over the individual TXT records,since delegated DCV would only need to be\ndone one time, whereas the individual TXT records would have to be set everytime the certificate is renewed.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "delegated_dcv_domain": {
                                  "type": "string"
                                },
                                "delegated_dcv_cname_target": {
                                  "type": "string"
                                },
                                "txt_records": {
                                  "description": "Will have multiple required tokens if the domain is a wildcard domain.\n",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "domain": {
                                        "type": "string",
                                        "example": "_acme-challenge.www.example.com"
                                      },
                                      "value": {
                                        "type": "string",
                                        "example": "-sXIiCspHlmE7GU-vV-6oBR-M6BU-4d1A4Ak3O1cGos"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "managed_csr": {
                          "description": "SSL certificate will be issued using the given [Managed CSR](#tag/Managed-CSRs).\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "custom_public_certificate"
                          ],
                          "properties": {
                            "managed_csr_id": {
                              "description": "The name of the [Managed CSR](#tag/Managed-CSRs) resource.\n",
                              "type": "string",
                              "example": "accounts/123456/csrs/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                            },
                            "custom_public_certificate": {
                              "description": "Public CA signed certificate.\n",
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            }
                          }
                        },
                        "custom_ssl_certificate": {
                          "description": "The provided custom SSL certificate will be used for serving requests to the domain.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "public_certificate",
                            "private_key"
                          ],
                          "properties": {
                            "public_certificate": {
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                            },
                            "private_key": {
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDBj08sp5++4anG\n...\n-----END PRIVATE KEY-----\n"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            }
                          }
                        },
                        "errors": {
                          "description": "Errors and/or warnings regarding the Domain setup.",
                          "type": "array",
                          "readOnly": true,
                          "items": {
                            "$ref": "#/components/schemas/ResponseError"
                          }
                        },
                        "create_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "update_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "delete_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "get": {
        "operationId": "listDomains",
        "tags": [
          "Domains"
        ],
        "summary": "List Domains",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/hostnameFilters"
          },
          {
            "$ref": "#/components/parameters/showDeleted"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          },
          {
            "$ref": "#/components/parameters/viewDefaultBasic"
          },
          {
            "$ref": "#/components/parameters/v"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of Domains matching request filters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "domains": {
                          "type": "array",
                          "items": {
                            "title": "Domain",
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Identifier for the resource.",
                                "type": "string",
                                "readOnly": true,
                                "example": "accounts/123456/domains/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                              },
                              "hostname": {
                                "description": "Fully qualified domain name that will be delegated to Yext.",
                                "type": "string",
                                "example": "www.example.com"
                              },
                              "wildcard": {
                                "description": "If set to true, [Domain Associations](#tag/Domain-Associations) can be created for single-level subdomains of the given hostname.\n",
                                "type": "boolean",
                                "default": false
                              },
                              "destination": {
                                "description": "The Yext product the domain will be used for. Currently, only `PAGES` is supported.\n",
                                "type": "string",
                                "enum": [
                                  "PAGES"
                                ],
                                "example": "PAGES"
                              },
                              "integration_type": {
                                "description": "How the domain will be integrated with Yext. Only `USER_OWNED` is supported for domains created via the API.\n",
                                "type": "string",
                                "enum": [
                                  "USER_OWNED",
                                  "CUSTOM",
                                  "LEGACY_YEXT_MANAGED"
                                ],
                                "example": "USER_OWNED"
                              },
                              "state": {
                                "type": "string",
                                "readOnly": true,
                                "enum": [
                                  "PENDING_VERIFICATION",
                                  "VERIFICATION_FAILED",
                                  "PENDING_CREATION",
                                  "CREATING",
                                  "CREATION_FAILED",
                                  "ACTIVE",
                                  "PENDING_DELETION",
                                  "DELETED",
                                  "BLOCKED",
                                  "DELETION_FAILED",
                                  "MOVE_REQUIRED"
                                ],
                                "example": "ACTIVE"
                              },
                              "ownership_verification": {
                                "description": "One of CNAME, TXT, or HTTP verification must be used to complete Yext ownership verification for the domain.\nThe tokens to use for each of these methods are provided in this object.\n",
                                "type": "object",
                                "readOnly": true,
                                "properties": {
                                  "cname_target": {
                                    "type": "string",
                                    "example": "idzm5s34j5.yext.pgscdncf.com."
                                  },
                                  "txt_domain": {
                                    "type": "string",
                                    "example": "_yext-domain.www.example.com"
                                  },
                                  "txt_value": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "http_uri": {
                                    "type": "string",
                                    "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                  },
                                  "http_body": {
                                    "type": "string",
                                    "format": "uuid"
                                  }
                                }
                              },
                              "managed_ssl": {
                                "description": "SSL certificate will be automatically managed by Yext.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                                "type": "object",
                                "required": [
                                  "certificate_authority",
                                  "validation_method"
                                ],
                                "properties": {
                                  "certificate_authority": {
                                    "type": "string",
                                    "enum": [
                                      "GOOGLE_TRUST",
                                      "LETS_ENCRYPT"
                                    ],
                                    "default": "GOOGLE_TRUST"
                                  },
                                  "validation_method": {
                                    "type": "string",
                                    "enum": [
                                      "HTTP",
                                      "TXT"
                                    ],
                                    "example": "HTTP"
                                  },
                                  "hostname_validation": {
                                    "description": "Proof of ownership for the SSL provider.\n",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "cname_target": {
                                        "type": "string",
                                        "example": "idzm5s34j5.yext.pgscdncf.com."
                                      },
                                      "txt_domain": {
                                        "type": "string",
                                        "example": "_yext-domain.www.example.com"
                                      },
                                      "txt_value": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "http_uri": {
                                        "type": "string",
                                        "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                      },
                                      "http_body": {
                                        "type": "string",
                                        "format": "uuid"
                                      }
                                    }
                                  },
                                  "http_validation": {
                                    "description": "This will only be set if `HTTP` is selected via the `validation_method` field.\n",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "uri": {
                                        "type": "string",
                                        "example": "http://www.example.com/.well-known/acme-challenge/0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr"
                                      },
                                      "body": {
                                        "type": "string",
                                        "example": "0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr.r54qAqCZSs4xyyeamMffaxyR1FWYVb5OvwUh8EcrhpI"
                                      }
                                    }
                                  },
                                  "txt_validation": {
                                    "description": "This will only be set if `TXT` is selected via the `validation_method` field.\nThe delegated DCV CNAME is recommended over the individual TXT records,since delegated DCV would only need to be\ndone one time, whereas the individual TXT records would have to be set everytime the certificate is renewed.\n",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "delegated_dcv_domain": {
                                        "type": "string"
                                      },
                                      "delegated_dcv_cname_target": {
                                        "type": "string"
                                      },
                                      "txt_records": {
                                        "description": "Will have multiple required tokens if the domain is a wildcard domain.\n",
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "domain": {
                                              "type": "string",
                                              "example": "_acme-challenge.www.example.com"
                                            },
                                            "value": {
                                              "type": "string",
                                              "example": "-sXIiCspHlmE7GU-vV-6oBR-M6BU-4d1A4Ak3O1cGos"
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "managed_csr": {
                                "description": "SSL certificate will be issued using the given [Managed CSR](#tag/Managed-CSRs).\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                                "type": "object",
                                "required": [
                                  "custom_public_certificate"
                                ],
                                "properties": {
                                  "managed_csr_id": {
                                    "description": "The name of the [Managed CSR](#tag/Managed-CSRs) resource.\n",
                                    "type": "string",
                                    "example": "accounts/123456/csrs/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                                  },
                                  "custom_public_certificate": {
                                    "description": "Public CA signed certificate.\n",
                                    "type": "string",
                                    "format": "pem",
                                    "writeOnly": true,
                                    "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                                  },
                                  "hostname_validation": {
                                    "description": "Proof of ownership for the SSL provider.\n",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "cname_target": {
                                        "type": "string",
                                        "example": "idzm5s34j5.yext.pgscdncf.com."
                                      },
                                      "txt_domain": {
                                        "type": "string",
                                        "example": "_yext-domain.www.example.com"
                                      },
                                      "txt_value": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "http_uri": {
                                        "type": "string",
                                        "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                      },
                                      "http_body": {
                                        "type": "string",
                                        "format": "uuid"
                                      }
                                    }
                                  }
                                }
                              },
                              "custom_ssl_certificate": {
                                "description": "The provided custom SSL certificate will be used for serving requests to the domain.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                                "type": "object",
                                "required": [
                                  "public_certificate",
                                  "private_key"
                                ],
                                "properties": {
                                  "public_certificate": {
                                    "type": "string",
                                    "format": "pem",
                                    "writeOnly": true,
                                    "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                                  },
                                  "private_key": {
                                    "type": "string",
                                    "format": "pem",
                                    "writeOnly": true,
                                    "example": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDBj08sp5++4anG\n...\n-----END PRIVATE KEY-----\n"
                                  },
                                  "hostname_validation": {
                                    "description": "Proof of ownership for the SSL provider.\n",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "cname_target": {
                                        "type": "string",
                                        "example": "idzm5s34j5.yext.pgscdncf.com."
                                      },
                                      "txt_domain": {
                                        "type": "string",
                                        "example": "_yext-domain.www.example.com"
                                      },
                                      "txt_value": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "http_uri": {
                                        "type": "string",
                                        "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                      },
                                      "http_body": {
                                        "type": "string",
                                        "format": "uuid"
                                      }
                                    }
                                  }
                                }
                              },
                              "errors": {
                                "description": "Errors and/or warnings regarding the Domain setup.",
                                "type": "array",
                                "readOnly": true,
                                "items": {
                                  "$ref": "#/components/schemas/ResponseError"
                                }
                              },
                              "create_time": {
                                "type": "string",
                                "format": "date-time",
                                "readOnly": true
                              },
                              "update_time": {
                                "type": "string",
                                "format": "date-time",
                                "readOnly": true
                              },
                              "delete_time": {
                                "type": "string",
                                "format": "date-time",
                                "readOnly": true
                              }
                            }
                          }
                        },
                        "next_page_token": {
                          "$ref": "#/components/schemas/nextPageToken"
                        },
                        "total_size": {
                          "$ref": "#/components/schemas/totalSize"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/domains/{domainId}": {
      "get": {
        "operationId": "getDomain",
        "tags": [
          "Domains"
        ],
        "summary": "Get Domain",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/domainId"
          },
          {
            "$ref": "#/components/parameters/viewDefaultFull"
          },
          {
            "$ref": "#/components/parameters/v"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    },
                    "response": {
                      "title": "Domain",
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Identifier for the resource.",
                          "type": "string",
                          "readOnly": true,
                          "example": "accounts/123456/domains/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                        },
                        "hostname": {
                          "description": "Fully qualified domain name that will be delegated to Yext.",
                          "type": "string",
                          "example": "www.example.com"
                        },
                        "wildcard": {
                          "description": "If set to true, [Domain Associations](#tag/Domain-Associations) can be created for single-level subdomains of the given hostname.\n",
                          "type": "boolean",
                          "default": false
                        },
                        "destination": {
                          "description": "The Yext product the domain will be used for. Currently, only `PAGES` is supported.\n",
                          "type": "string",
                          "enum": [
                            "PAGES"
                          ],
                          "example": "PAGES"
                        },
                        "integration_type": {
                          "description": "How the domain will be integrated with Yext. Only `USER_OWNED` is supported for domains created via the API.\n",
                          "type": "string",
                          "enum": [
                            "USER_OWNED",
                            "CUSTOM",
                            "LEGACY_YEXT_MANAGED"
                          ],
                          "example": "USER_OWNED"
                        },
                        "state": {
                          "type": "string",
                          "readOnly": true,
                          "enum": [
                            "PENDING_VERIFICATION",
                            "VERIFICATION_FAILED",
                            "PENDING_CREATION",
                            "CREATING",
                            "CREATION_FAILED",
                            "ACTIVE",
                            "PENDING_DELETION",
                            "DELETED",
                            "BLOCKED",
                            "DELETION_FAILED",
                            "MOVE_REQUIRED"
                          ],
                          "example": "ACTIVE"
                        },
                        "ownership_verification": {
                          "description": "One of CNAME, TXT, or HTTP verification must be used to complete Yext ownership verification for the domain.\nThe tokens to use for each of these methods are provided in this object.\n",
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "cname_target": {
                              "type": "string",
                              "example": "idzm5s34j5.yext.pgscdncf.com."
                            },
                            "txt_domain": {
                              "type": "string",
                              "example": "_yext-domain.www.example.com"
                            },
                            "txt_value": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "http_uri": {
                              "type": "string",
                              "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                            },
                            "http_body": {
                              "type": "string",
                              "format": "uuid"
                            }
                          }
                        },
                        "managed_ssl": {
                          "description": "SSL certificate will be automatically managed by Yext.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "certificate_authority",
                            "validation_method"
                          ],
                          "properties": {
                            "certificate_authority": {
                              "type": "string",
                              "enum": [
                                "GOOGLE_TRUST",
                                "LETS_ENCRYPT"
                              ],
                              "default": "GOOGLE_TRUST"
                            },
                            "validation_method": {
                              "type": "string",
                              "enum": [
                                "HTTP",
                                "TXT"
                              ],
                              "example": "HTTP"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            },
                            "http_validation": {
                              "description": "This will only be set if `HTTP` is selected via the `validation_method` field.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/acme-challenge/0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr"
                                },
                                "body": {
                                  "type": "string",
                                  "example": "0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr.r54qAqCZSs4xyyeamMffaxyR1FWYVb5OvwUh8EcrhpI"
                                }
                              }
                            },
                            "txt_validation": {
                              "description": "This will only be set if `TXT` is selected via the `validation_method` field.\nThe delegated DCV CNAME is recommended over the individual TXT records,since delegated DCV would only need to be\ndone one time, whereas the individual TXT records would have to be set everytime the certificate is renewed.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "delegated_dcv_domain": {
                                  "type": "string"
                                },
                                "delegated_dcv_cname_target": {
                                  "type": "string"
                                },
                                "txt_records": {
                                  "description": "Will have multiple required tokens if the domain is a wildcard domain.\n",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "domain": {
                                        "type": "string",
                                        "example": "_acme-challenge.www.example.com"
                                      },
                                      "value": {
                                        "type": "string",
                                        "example": "-sXIiCspHlmE7GU-vV-6oBR-M6BU-4d1A4Ak3O1cGos"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "managed_csr": {
                          "description": "SSL certificate will be issued using the given [Managed CSR](#tag/Managed-CSRs).\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "custom_public_certificate"
                          ],
                          "properties": {
                            "managed_csr_id": {
                              "description": "The name of the [Managed CSR](#tag/Managed-CSRs) resource.\n",
                              "type": "string",
                              "example": "accounts/123456/csrs/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                            },
                            "custom_public_certificate": {
                              "description": "Public CA signed certificate.\n",
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            }
                          }
                        },
                        "custom_ssl_certificate": {
                          "description": "The provided custom SSL certificate will be used for serving requests to the domain.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "public_certificate",
                            "private_key"
                          ],
                          "properties": {
                            "public_certificate": {
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                            },
                            "private_key": {
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDBj08sp5++4anG\n...\n-----END PRIVATE KEY-----\n"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            }
                          }
                        },
                        "errors": {
                          "description": "Errors and/or warnings regarding the Domain setup.",
                          "type": "array",
                          "readOnly": true,
                          "items": {
                            "$ref": "#/components/schemas/ResponseError"
                          }
                        },
                        "create_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "update_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "delete_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "patch": {
        "operationId": "updateDomain",
        "tags": [
          "Domains"
        ],
        "summary": "Update Domain",
        "description": "Update the configurations for the specified domain. Also triggers a check for Yext or SSL verification, if the Domain is not yet ACTIVE.\nSee the `update_mask` parameter for fields that can be updated, any other provided fields will be ignored.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/domainId"
          },
          {
            "$ref": "#/components/parameters/forceMove"
          },
          {
            "name": "update_mask",
            "in": "query",
            "schema": {
              "type": "array",
              "default": "*",
              "items": {
                "type": "string",
                "enum": [
                  "*",
                  "managed_ssl.certificate_authority",
                  "custom_ssl_certificate",
                  "managed_csr.custom_public_certificate"
                ]
              }
            },
            "description": "A comma-separated list of fields to update."
          },
          {
            "$ref": "#/components/parameters/v"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "managed_ssl": {
                    "description": "SSL certificate will be automatically managed by Yext.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                    "type": "object",
                    "required": [
                      "certificate_authority"
                    ],
                    "properties": {
                      "certificate_authority": {
                        "$ref": "#/components/schemas/certificate_authority"
                      }
                    }
                  },
                  "managed_csr": {
                    "$ref": "#/components/schemas/managed_csr"
                  },
                  "custom_ssl_certificate": {
                    "$ref": "#/components/schemas/custom_ssl_certificate"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    },
                    "response": {
                      "title": "Domain",
                      "type": "object",
                      "properties": {
                        "name": {
                          "description": "Identifier for the resource.",
                          "type": "string",
                          "readOnly": true,
                          "example": "accounts/123456/domains/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                        },
                        "hostname": {
                          "description": "Fully qualified domain name that will be delegated to Yext.",
                          "type": "string",
                          "example": "www.example.com"
                        },
                        "wildcard": {
                          "description": "If set to true, [Domain Associations](#tag/Domain-Associations) can be created for single-level subdomains of the given hostname.\n",
                          "type": "boolean",
                          "default": false
                        },
                        "destination": {
                          "description": "The Yext product the domain will be used for. Currently, only `PAGES` is supported.\n",
                          "type": "string",
                          "enum": [
                            "PAGES"
                          ],
                          "example": "PAGES"
                        },
                        "integration_type": {
                          "description": "How the domain will be integrated with Yext. Only `USER_OWNED` is supported for domains created via the API.\n",
                          "type": "string",
                          "enum": [
                            "USER_OWNED",
                            "CUSTOM",
                            "LEGACY_YEXT_MANAGED"
                          ],
                          "example": "USER_OWNED"
                        },
                        "state": {
                          "type": "string",
                          "readOnly": true,
                          "enum": [
                            "PENDING_VERIFICATION",
                            "VERIFICATION_FAILED",
                            "PENDING_CREATION",
                            "CREATING",
                            "CREATION_FAILED",
                            "ACTIVE",
                            "PENDING_DELETION",
                            "DELETED",
                            "BLOCKED",
                            "DELETION_FAILED",
                            "MOVE_REQUIRED"
                          ],
                          "example": "ACTIVE"
                        },
                        "ownership_verification": {
                          "description": "One of CNAME, TXT, or HTTP verification must be used to complete Yext ownership verification for the domain.\nThe tokens to use for each of these methods are provided in this object.\n",
                          "type": "object",
                          "readOnly": true,
                          "properties": {
                            "cname_target": {
                              "type": "string",
                              "example": "idzm5s34j5.yext.pgscdncf.com."
                            },
                            "txt_domain": {
                              "type": "string",
                              "example": "_yext-domain.www.example.com"
                            },
                            "txt_value": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "http_uri": {
                              "type": "string",
                              "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                            },
                            "http_body": {
                              "type": "string",
                              "format": "uuid"
                            }
                          }
                        },
                        "managed_ssl": {
                          "description": "SSL certificate will be automatically managed by Yext.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "certificate_authority",
                            "validation_method"
                          ],
                          "properties": {
                            "certificate_authority": {
                              "type": "string",
                              "enum": [
                                "GOOGLE_TRUST",
                                "LETS_ENCRYPT"
                              ],
                              "default": "GOOGLE_TRUST"
                            },
                            "validation_method": {
                              "type": "string",
                              "enum": [
                                "HTTP",
                                "TXT"
                              ],
                              "example": "HTTP"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            },
                            "http_validation": {
                              "description": "This will only be set if `HTTP` is selected via the `validation_method` field.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/acme-challenge/0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr"
                                },
                                "body": {
                                  "type": "string",
                                  "example": "0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr.r54qAqCZSs4xyyeamMffaxyR1FWYVb5OvwUh8EcrhpI"
                                }
                              }
                            },
                            "txt_validation": {
                              "description": "This will only be set if `TXT` is selected via the `validation_method` field.\nThe delegated DCV CNAME is recommended over the individual TXT records,since delegated DCV would only need to be\ndone one time, whereas the individual TXT records would have to be set everytime the certificate is renewed.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "delegated_dcv_domain": {
                                  "type": "string"
                                },
                                "delegated_dcv_cname_target": {
                                  "type": "string"
                                },
                                "txt_records": {
                                  "description": "Will have multiple required tokens if the domain is a wildcard domain.\n",
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "domain": {
                                        "type": "string",
                                        "example": "_acme-challenge.www.example.com"
                                      },
                                      "value": {
                                        "type": "string",
                                        "example": "-sXIiCspHlmE7GU-vV-6oBR-M6BU-4d1A4Ak3O1cGos"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "managed_csr": {
                          "description": "SSL certificate will be issued using the given [Managed CSR](#tag/Managed-CSRs).\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "custom_public_certificate"
                          ],
                          "properties": {
                            "managed_csr_id": {
                              "description": "The name of the [Managed CSR](#tag/Managed-CSRs) resource.\n",
                              "type": "string",
                              "example": "accounts/123456/csrs/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                            },
                            "custom_public_certificate": {
                              "description": "Public CA signed certificate.\n",
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            }
                          }
                        },
                        "custom_ssl_certificate": {
                          "description": "The provided custom SSL certificate will be used for serving requests to the domain.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                          "type": "object",
                          "required": [
                            "public_certificate",
                            "private_key"
                          ],
                          "properties": {
                            "public_certificate": {
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN CERTIFICATE-----\nMIIC2DCCAcCAQAwgY4xCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlh\n...\n-----END CERTIFICATE-----\n"
                            },
                            "private_key": {
                              "type": "string",
                              "format": "pem",
                              "writeOnly": true,
                              "example": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDBj08sp5++4anG\n...\n-----END PRIVATE KEY-----\n"
                            },
                            "hostname_validation": {
                              "description": "Proof of ownership for the SSL provider.\n",
                              "type": "object",
                              "readOnly": true,
                              "properties": {
                                "cname_target": {
                                  "type": "string",
                                  "example": "idzm5s34j5.yext.pgscdncf.com."
                                },
                                "txt_domain": {
                                  "type": "string",
                                  "example": "_yext-domain.www.example.com"
                                },
                                "txt_value": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "http_uri": {
                                  "type": "string",
                                  "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                },
                                "http_body": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              }
                            }
                          }
                        },
                        "errors": {
                          "description": "Errors and/or warnings regarding the Domain setup.",
                          "type": "array",
                          "readOnly": true,
                          "items": {
                            "$ref": "#/components/schemas/ResponseError"
                          }
                        },
                        "create_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "update_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        },
                        "delete_time": {
                          "type": "string",
                          "format": "date-time",
                          "readOnly": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "delete": {
        "operationId": "deleteDomain",
        "tags": [
          "Domains"
        ],
        "summary": "Delete Domain",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/domainId"
          },
          {
            "name": "force",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "If true, Domain Associations using this domain will also be deleted.\nIf not set or false, and if Domain Associations exist using this domain, an error will be returned.\n"
          },
          {
            "$ref": "#/components/parameters/v"
          }
        ],
        "responses": {
          "202": {
            "description": "Domain deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/accounts/{accountId}/domains/migratepagesdomain/{hostname}": {
      "post": {
        "operationId": "migratePagesDomain",
        "tags": [
          "Domains"
        ],
        "summary": "Migrate Legacy Pages Domain",
        "description": "Migrates a legacy Pages domain to a Domains API domain resource.",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "name": "hostname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The hostname of the legacy domain to migrate."
          },
          {
            "$ref": "#/components/parameters/v"
          }
        ],
        "responses": {
          "201": {
            "description": "Legacy domain migrated to Domains API successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "meta": {
                      "$ref": "#/components/schemas/ResponseMeta"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "domains": {
                          "description": "[Domain](#tag/Domains) resources created as a result of the migration.\n",
                          "type": "array",
                          "items": {
                            "title": "Domain",
                            "type": "object",
                            "properties": {
                              "name": {
                                "description": "Identifier for the resource.",
                                "type": "string",
                                "readOnly": true,
                                "example": "accounts/123456/domains/4f72b877-e2d0-4de4-9324-b9cf2c03e1a0"
                              },
                              "hostname": {
                                "description": "Fully qualified domain name that will be delegated to Yext.",
                                "type": "string",
                                "example": "www.example.com"
                              },
                              "wildcard": {
                                "description": "If set to true, [Domain Associations](#tag/Domain-Associations) can be created for single-level subdomains of the given hostname.\n",
                                "type": "boolean",
                                "default": false
                              },
                              "destination": {
                                "description": "The Yext product the domain will be used for. Currently, only `PAGES` is supported.\n",
                                "type": "string",
                                "enum": [
                                  "PAGES"
                                ],
                                "example": "PAGES"
                              },
                              "integration_type": {
                                "description": "How the domain will be integrated with Yext. Only `USER_OWNED` is supported for domains created via the API.\n",
                                "type": "string",
                                "enum": [
                                  "USER_OWNED",
                                  "CUSTOM",
                                  "LEGACY_YEXT_MANAGED"
                                ],
                                "example": "USER_OWNED"
                              },
                              "state": {
                                "type": "string",
                                "readOnly": true,
                                "enum": [
                                  "PENDING_VERIFICATION",
                                  "VERIFICATION_FAILED",
                                  "PENDING_CREATION",
                                  "CREATING",
                                  "CREATION_FAILED",
                                  "ACTIVE",
                                  "PENDING_DELETION",
                                  "DELETED",
                                  "BLOCKED",
                                  "DELETION_FAILED",
                                  "MOVE_REQUIRED"
                                ],
                                "example": "ACTIVE"
                              },
                              "ownership_verification": {
                                "description": "One of CNAME, TXT, or HTTP verification must be used to complete Yext ownership verification for the domain.\nThe tokens to use for each of these methods are provided in this object.\n",
                                "type": "object",
                                "readOnly": true,
                                "properties": {
                                  "cname_target": {
                                    "type": "string",
                                    "example": "idzm5s34j5.yext.pgscdncf.com."
                                  },
                                  "txt_domain": {
                                    "type": "string",
                                    "example": "_yext-domain.www.example.com"
                                  },
                                  "txt_value": {
                                    "type": "string",
                                    "format": "uuid"
                                  },
                                  "http_uri": {
                                    "type": "string",
                                    "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                  },
                                  "http_body": {
                                    "type": "string",
                                    "format": "uuid"
                                  }
                                }
                              },
                              "managed_ssl": {
                                "description": "SSL certificate will be automatically managed by Yext.\nExactly one of `managed_ssl`, `managed_csr`, or `custom_ssl_certificate` must be set for a domain.\n",
                                "type": "object",
                                "required": [
                                  "certificate_authority",
                                  "validation_method"
                                ],
                                "properties": {
                                  "certificate_authority": {
                                    "type": "string",
                                    "enum": [
                                      "GOOGLE_TRUST",
                                      "LETS_ENCRYPT"
                                    ],
                                    "default": "GOOGLE_TRUST"
                                  },
                                  "validation_method": {
                                    "type": "string",
                                    "enum": [
                                      "HTTP",
                                      "TXT"
                                    ],
                                    "example": "HTTP"
                                  },
                                  "hostname_validation": {
                                    "description": "Proof of ownership for the SSL provider.\n",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "cname_target": {
                                        "type": "string",
                                        "example": "idzm5s34j5.yext.pgscdncf.com."
                                      },
                                      "txt_domain": {
                                        "type": "string",
                                        "example": "_yext-domain.www.example.com"
                                      },
                                      "txt_value": {
                                        "type": "string",
                                        "format": "uuid"
                                      },
                                      "http_uri": {
                                        "type": "string",
                                        "example": "http://www.example.com/.well-known/yext-domain-challenge/35f00e6a-61c2-4857-b2cc-4c736f86b5ac"
                                      },
                                      "http_body": {
                                        "type": "string",
                                        "format": "uuid"
                                      }
                                    }
                                  },
                                  "http_validation": {
                                    "description": "This will only be set if `HTTP` is selected via the `validation_method` field.\n",
                                    "type": "object",
                                    "readOnly": true,
                                    "properties": {
                                      "uri": {
                                        "type": "string",
                                        "example": "http://www.example.com/.well-known/acme-challenge/0NW3MkWCrnT_5dwos0fKtwrPAqMygpcUqLqDNibb0xLXH3Zjag6wSqPfcvWTGkRr"
                                      },
                                      "body": {
                                        "type": "string",
[...]
