openapi: 3.0.0
info:
  title: Live API
  version: '2.0'
servers:
  - url: https://liveapi.yext.com/v2
paths:
  /accounts/{accountId}/entities:
    get:
      operationId: listEntities
      parameters:
        - schema:
            minLength: 0
            type: string
          name: accountId
          in: path
          required: true
        - schema:
            minLength: 0
            type: string
          description: A date in `YYYYMMDD` format.
          name: v
          in: query
          required: true
        - schema:
            minLength: 0
            type: string
          description: |
            Comma-separated list of Entity types to filter on. Example: `"location,event"`

            Should be from the following types:
              * `atm`
              * `event`
              * `faq`
              * `financialProfessional`
              * `healthcareFacility`
              * `healthcareProfessional`
              * `hotel`
              * `hotelRoomType`
              * `job`
              * `location`
              * `organization`
              * `product`
              * `restaurant`

            OR the API name of a custom entity type.
          name: entityTypes
          in: query
          required: false
        - schema:
            minLength: 0
            type: string
          description: Comma-separated list of field names. When present, only the fields listed will be returned. You can use dot notation to specify substructures (e.g., `"address.line1"`). Custom fields are specified in the same way, albeit with their `c_*` name.
          name: fields
          in: query
          required: false
        - schema:
            minLength: 0
            type: string
          description: |
            This parameter represents one or more filtering conditions that are applied to the set of entities that would otherwise be returned. This parameter should be provided as a URL-encoded string containing a JSON object.

            For example, if the filter JSON is `{"name":{"$eq":"John"}}`, then the filter param after URL-encoding will be: `filter=%7B%22name%22%3A%7B%22%24eq%22%3A%22John%22%7D%7D`

            **Basic Filter Structure**

            The filter object at its core consists of a *matcher*, a *field*, and an *argument*.

            For example, in the following filter JSON:

            ```
            {
              "name":{
                "$eq":"John"
              }
            }
            ```

            `$eq` is the *matcher*, or filtering operation (equals, in this example),

            `name` is the *field* being filtered by, and

            `John` is *value* to be matched against.

            **Combining Multiple Filters**

            Multiple filters can be combined into one object using *combinators*. For example, the following filter JSON combines multiple filters using the combinator `$and`. `$or` is also supported.
            ```
            {
              "$and":[
                {
                  "firstName":{
                    "$eq":"John"
                  }
                },
                {
                  "countryCode":{
                    "$in":[
                      "US",
                      "GB"
                    ]
                  }
                }
              ]
            }
            ```

            **Filter Negation**

            Certain filter types may be negated. For example:

            ```
            {
              "$not" {
                "name":{
                  "$eq":"John"
                }
              }
            }
            ```

            This can also be written more simply with a `!` in the `$eq` parameter. The following filter would have the same effect:

            ```
            {
              "name":{
                "!$eq":"John"
              }
            }
            ```

            **Filter Complement**

            You can also search for the complement of a filter. This filter would match entities that do not contain "hello" in their descriptions, or do not have a description set. This is different from negation which can only match entities who have the negated field set to something.

            ```
            {
              "$complement":{
                "description":{
                  "$contains":"hello"
                }
              }
            }
            ```

            **Addressing Subfields**

            Subfields of fields can be addressed using the "dot" notation while filtering. For example, if you have a custom field called **`c_myCustomField`**:

            ```
            {
              "c_myCustomField":{
                "age": 30,
                "name": "Jim",
              }
            }
            ```

            While filtering, subfields may be addressed using the "dot" notation.

            ```
            {
              "c_myCustomField.name":{
                "!$eq":"John"
              }
            }
            ```

            Fields that are nested deeper may be addressed using dot notation, as well. For example, if **`name`** in the above example was a compound field with two subfields **`first`** and **`last`**, **`first`** may be addressed as **`c_myCustomField.name.first`**.

            **Field Support**

            Entity fields correspond to certain filter types, which support matchers. Going by the example above, the field **`name`** supports the `TEXT` filter type, which supports `$eq` (equals) and `$startsWith` (starts with).

            **TEXT**

            The `TEXT` filter type is supported for text fields. (e.g., **`name`**, **`countryCode`**)

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$eq (equals)</th>
                <th>

                {
                  "countryCode":{
                    "$eq":"US"
                  }
                },
                {
                  "countryCode":{
                    "!$eq":"US"
                  }
                }

              Supports negation. Case insensitive.
              </tr>
              <tr>
                <th>$startsWith</th>
                <th>

              Matches if the field starts with the argument value.

              e.g., "Amazing" starts with "amaz"

                {
                   "address.line1":{
                      "$startsWith": "Jo"
                   }
                }

              Supports negation. Case insensitive.
              </tr>
              <tr>
                <th>$in</th>
                <th>

              Matches if field value is a member of the argument list.

                {
                  "firstName":{
                    "$in": ["John", "Jimmy"]
                  }
                }

              Does not support negation. Negation can be mimicked by using an "OR" matcher, for example:

                {
                  "$and":[
                    {
                      "firstName":{
                        "!$eq": "John"
                      }
                    },
                    {
                      "firstName":{
                        "!$eq": "Jimmy"
                      }
                    }
                  ]
                }

              </tr>
              <tr>
                <th>$contains</th>
                <th>

                {
                  "c_myString":{
                    "$contains":"sample"
                  }
                }

              This filter will match if "sample" is contained in any string within **`c_myString`**.

              Note that this matching is "left-edge n-gram", meaning the argument string must be the beginning of a token. The string "sample" will match strings like "This a sample", "Sample one", and "Sample 2", but not strings like "thisisasamplewithoutspaces".

              Supports negation.
              </tr>
              <tr>
                <th>$containsAny</th>
                <th>

                {
                  "c_myString":{
                    "$containsAny":[
                      "sample1", "sample2"
                    ]
                  }
                }

              This filter will match if either "sample1" or "sample2" is contained in any string within **`c_myString`**. The argument list can contain more than two strings.

              Note that this matching is "left-edge n-gram", meaning the argument string must be the beginning of a token. The string "sample" will match strings like "This a sample", "Sample one", and "Sample 2", but not strings like "thisisasamplewithoutspaces".

              Supports negation.
              </tr>
              <tr>
                <th>$containsAll</th>
                <th>

                {
                  "c_myString":{
                    "$containsAll":[
                      "sample1",
                      "sample2"
                    ]
                  }
                }

              This filter will match if both "sample1" and "sample2" are contained in any string within **`c_myString`**. The argument list can contain more than two strings.

              Note that this matching is "left-edge n-gram", meaning the argument string must be the beginning of a token. The string "sample" will match strings like "This a sample", "Sample one", and "Sample 2", but not strings like "thisisasamplewithoutspaces".

              Supports negation.
              </tr>
            </table>

            **BOOLEAN**


            The BOOLEAN filter type is supported for boolean fields and Yes / No custom fields.
            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$eq</th>
                <th>

                {
                  "isFreeEvent": {
                    "$eq": true
                  }
                }

              For booleans, the filter takes a boolean value, not a string.
              Supports negation.
              </tr>
            </table>

            **STRUCT**

            The STRUCT filter type is supported for compound fields with subfields.

            *e.g., **`address`**, **`featuredMessage`**, fields of custom types*

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$hasProperty</th>
                <th>

              Matches if argument is a key (subfield) of field being filtered by. This filter type is useful for filtering by compound fields or to check if certain fields have a value set.

                {
                  "address": {
                    "$hasProperty": "line1"
                  }
                }

              Note that if a given property of a compound field is not set, the filter will not match. For example, if `line1` of **`address`** is not set for an entity, then the above matcher will not match the entity.

              Supports negation.

              </tr>
            </table>

            **OPTION**

            The OPTION filter type is supported for options custom fields and fields that have a predetermined list of valid values.

             *e.g., **`eventStatus`**, **`gender`**, `SINGLE_OPTION` and `MULTI_OPTION` types of custom fields.*

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$eq</th>
                <th>

              Matching is case insensitive and insensitive to consecutive whitespace.

              e.g., "XYZ 123" matches "xyz       123"

                {
                  "eventStatus": {
                    "$eq": "SCHEDULED"
                  }
                }

              Supports negation. Negating `$eq` on the list will match any field that does not hold any of the provided values.

              </tr>
              <tr>
                <th>$in</th>
                <th>

                {
                  "eventStatus": {
                    "$in": [
                      "SCHEDULED",
                      "POSTPONED"
                    ]
                  }
                }

              Does not support negation. However, negation can be mimicked by using an `$and` matcher to negate individually over the desired values. For example:

                {
                  "$and": [
                    {
                      "eventStatus":{
                        "!$eq": "SCHEDULED"
                      }
                    },
                    {
                      "firstName":{
                        "!$eq": "POSTPONED"
                      }
                    }
                  ]
                }

              </tr>
            </table>

            **PHONE**

            The PHONE filter type is supported for phone number fields only. PHONE will support the same matchers as TEXT, except that for `$eq`, the same phone number with or without calling code will match.

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$eq</th>
                <th>

                {
                  "mainPhone":{
                    "$eq":"+18187076189"
                  }
                },
                {
                  "mainPhone":{
                    "$eq":"8187076189"
                  }
                },
                {
                  "mainPhone":{
                    "!$eq":"9177076189"
                  }
                }

              Supports negation. Case insensitive.

              </tr>
              <tr>
                <th>$startsWith</th>
                <th>

              Matches if the field starts with the argument value.

              e.g., "8187076189" starts with "818"

                {
                  "mainPhone":{
                    "$startsWith": "818"
                  }
                }

              Supports negation. Case insensitive.

              </tr>
              <tr>
                <th>$in</th>
                <th>

              Matches if field value is a member of the argument list.

                {
                  "mainPhone":{
                    "$in": [
                      "8185551616",
                      "9171112211"
                    ]
                  }
                }

              Does not support negation. However, negation can be mimicked by using an `$and` matcher to negate individually over the desired values.

              </tr>
            </table>

            **INTEGER, FLOAT, DATE, DATETIME, and TIME**

            These filter types are strictly ordered -- therefore, they support the following matchers:
            - Equals
            - Less Than / Less Than or Equal To
            - Greater Than / Greater Than or Equal To

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$eq</th>
                <th>

              Equals

                {
                  "ageRange.maxValue": {
                    "$eq": "80"
                  }
                }

              Supports negation.

              </tr>
              <tr>
                <th>$lt</th>
                <th>

              Less than

                {
                  "time.start": {
                    "$lt": "2018-08-28T05:56"
                  }
                }

              </tr>
              <tr>
                <th>$gt</th>
                <th>

              Greater than

                {
                  "ageRange.maxValue": {
                    "$gt": "50"
                  }
                }

              </tr>
              <tr>
                <th>$le</th>
                <th>

              Less than or equal to

                {
                  "ageRange.maxValue": {
                    "$le": "40"
                  }
                }

              </tr>
              <tr>
                <th>$ge</th>
                <th>

              Greater than or equal to

                {
                  "time.end": {
                    "$ge":  "2018-08-28T05:56"
                  }
                }

              </tr>
              <tr>
                <th>Combinations</th>
                <th>

              While we do not support "between" in our filtering syntax, it is possible to combine multiple matchers for a result similar to an "and" operation:

                {
                  "ageRange.maxValue : {
                    "$gt" : 10,
                    "$lt": 20
                  }
                }

              </tr>
            </table>

            **LIST OF TEXT**

            Any field that has a list of valid values and supports any of the previously mentioned filter types will also support the `$contains` matcher.

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$eq</th>
                <th>

                {
                  "c_myStringList": {
                    "$eq": "sample"
                  }
                }

              This filter will match if "sample" EXACTLY matches any string within **`c_myStringList`**.

              Supports negation.

              </tr>
              <tr>
                <th>$eqAny</th>
                <th>

                {
                  "c_myStringList": {
                    "$eqAny": [
                      "sample1",
                      "sample2"
                    ]
                  }
                }

              This filter will match if any one of "sample1" or "sample2" EXACTLY match a string within **`c_myStringList`** . The argument can have more than two strings.

              Supports negation.

              </tr>
              <tr>
                <th>$eqAll</th>
                <th>

                {
                  "c_myStringList": {
                    "$eqAll": [
                      "sample1",
                      "sample2"
                    ]
                  }
                }

              This filter will match if both "sample1" AND "sample2" EXACTLY match a string within **`c_myStringList`**. The argument can have more than two strings.

              Supports negation.

              </tr>
              <tr>
                <th>$contains</th>
                <th>

                {
                  "c_myStringList":{
                    "$contains":"sample"
                  }
                }

              This filter will match if "sample" is contained in any string within **`c_myStringList`**.

              Note that this matching is "left edge n-gram", meaning the argument string must be the beginning of a token. The string "sample" will match strings like "This is a sample", "Sample one", "Sample 2" but not strings like "thisisasamplewithoutspaces".

              Supports negation.

              </tr>
              <tr>
                <th>$containsAny</th>
                <th>

                {
                  "c_myStringList": {
                    "$containsAny": [
                      "sample1",
                      "sample2"
                    ]
                  }
                }


              This filter will match if either "sample1" or "sample2" is contained in any string within **`c_myStringList`**. The argument list can have more than two strings.

              Note that similar to `$contains`, the matching for `$containsAny` is "left edge n-gram", meaning the argument string must be the beginning of a token. The string "sample" will match strings like "This is a sample", "Sample one", "Sample 2" but not strings like "thisisasamplewithoutspaces".

              Supports negation.

              </tr>
              <tr>
                <th>$containsAll</th>
                <th>

                {
                  "c_myStringList": {
                    "$containsAll": [
                      "sample1",
                      "sample2"
                    ]
                  }
                }

              This filter will match if BOTH "sample1" and "sample2" are contained in strings within **`c_myStringList`**. The argument list can have more than two strings.

              Note that similar to `$contains`, the matching for `$containsAll` is "left-edge n-gram", meaning the argument string must be the beginning of a token. The string "sample" will match strings like "This a sample", "Sample one", and "Sample 2", but not strings like "thisisasamplewithoutspaces".

              Supports negation.

              </tr>
              <tr>
                <th>$startsWith</th>
                <th>

                {
                  "c_myStringList": {
                    "$startsWith":"sample"
                  }
                }

              This filter will match if any string within **`c_myStringList`** starts with "sample".

              Does not supports negation. Case Insensitive.

              </tr>
            </table>

            **LIST OF BOOLEAN, OPTION, PHONE, INTEGER, FLOAT, DATE, DATETIME, OR TIME**

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$eq</th>
                <th>

                {
                  "c_myDateList": {
                    "$eq": "2019-01-01"
                  }
                }


              This filter will match if "2019-01-01" EXACTLY matches any date within **`c_myDateList`**.

              Supports negation.

              </tr>
              <tr>
                <th>$eqAny</th>
                <th>

                {
                  "c_myIntegerList": {
                    "$eqAny": [1, 2]
                  }
                }

              This filter will match if 1 or 2 EXACTLY match any integer within **`c_myIntegerList`**. The argument list can have more than two elements.

              Supports negation.

              </tr>

              <tr>
                <th>$eqAll</th>
                <th>

                {
                  "c_myStringList": {
                    "$eqAll": [
                      "sample1",
                      "sample2"
                    ]
                  }
                }

              This filter will match if both "2019-01-01" AND "2019-01-02" EXACTLY match a date within **`c_myDateList`**. The argument list can have more than two elements.

              Supports negation.

              </tr>
            </table>

            **LIST OF STRUCT**

            Filtering on lists of struct types is a bit nuanced. Filtering can only be done on lists of structs of the SAME type.
            For example, if **`c_myStructList`** is a list of compound fields with the subfields **`age`** and **`name`**, then one can address the **`age`** properties of each field in **`c_myStructList`** as a flattened list of integers and filtering upon them. For example, the following filter:

            ```
            {
              "c_myStructList.age":{
                "$eq": 20
              }
            }
            ```

            will match if any field in the list has an **`age`** property equal to 20. Similarly, any filter that can be applied to lists of integers could be applied to **`age`** in this case (`$eq`, `$eqAll`, `$eqAny`).


            **HOURS**

            By filtering on an hours field, you can find which entities are open or closed at a specified time or during a certain time range. All of these filters also take an entity’s holiday hours and reopen date into account.

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$openAt</th>
                <th>

                {
                  "hours": {
                    "$openAt":
                      "2019-01-06T13:45"
                  }
                }


              This filter would match entities open at the specified time.

              </tr>
              <tr>
                <th>$closedAt</th>
                <th>

                {
                  "hours": {
                    "$closedAt:
                      "2019-01-06T13:45"
                  }
                }

              </tr>

              <tr>
                <th>$openForAllOf</th>
                <th>

                {
                  "hours": {
                    "$openForAllOf": {
                      "start":
                        "2019-01-06T13:45",
                      "end":
                        "2019-01-06T15:00"
                    }
                  }
                }


              This filter would match only those entities that are open for the entire range between 2019-01-06T13:45 and 2019-01-06T15:00.

                {
                  "hours": {
                    "$openForAllOf":
                      "2019-05-10"
                  }
                }

              This filter would match entities open for the entire 24 hour period on 2019-05-10.

              You can also supply a year, a month, or an hour to filter for entities open for the entire year, month, or hour, respectively.

              </tr>
              <tr>
                <th>$openForAnyOf</th>
                <th>

                {
                  "hours": {
                    "$openForAnyOf": {
                      "start": "now",
                      "end": "now+2h"
                    }
                  }
                }

              This filter will match any entities that are open for at least a portion of the time range between now and two hours from now.

              </tr>
              <tr>
                <th>$closedForAllOf</th>
                <th>

                {
                  "hours": {
                    "$closedForAllOf": {
                      "start":
                        "2019-01-06T13:45",
                      "end":
                        "2019-01-06T15:00"
                    }
                  }
                }

              This filter will match only those entities that are closed for the entire given time range.
              </tr>
              <tr>
                <th>$closedForAnyOf</th>
                <th>

                {
                  "hours": {
                    "$closedForAnyOf": {
                      "start":
                        "2019-01-06T13:45",
                      "end":
                        "2019-01-06T15:00"
                    }
                  }
                }

              This filter will match any entities that are closed for at least a portion of the given time range.
              </tr>
            </table>


            **Filtering by Dates and Times**

            **Time zones**

            The filtering language supports searching both in local time and within a certain time zone. Searching in local time will simply ignore the time zone on the target entities, while providing one will convert the zone of your queried time to the zone of the target entities.

            To search in local time, simply provide the date or time without any zone: `2019-06-07T15:30` or `2019-06-07`.

            To conduct a zoned search, provide the name of the time zone in brackets after the time, as it is shown in the tz database: `2019-06-07T15:30[America/New_York]` or `2019-06-06[America/Phoenix]`.


            **Date and time types**

            In addition to searching with dates and datetimes, you can also query with years, months, and hours. For example, the filter:

            ```
            {
              "time.start": {
                "$eq": "2018"
              }
            }
            ```

            would match all start times in the year 2018. The same logic would apply for a month (`2019-05`), a date (`2019-05-01`), or an hour (`2019-05-01T06`).

            These types also work with ordered searches. For example:

            ```
            {
             "time.start": {
                "$lt": "2018"
             }
            }
            ```

            would match start times before 2018 (i.e., anything in 2017 or before). On the other hand, the same query with a `$le` matcher would include anything in or before 2018.

            **"Now" and Date Math**

            Instead of providing a static date or time, you can also use `now` in place of any date time. When you do so, the system will calculate the time when the query is made and conduct a zoned search.

            In order to search for a future or past time relative to `now`, you can use date math. For example, you can enter `now+3h` or `now-1d`, which would mean 3 hours from now and 1 day ago, respectively. You can also add and subtract minutes (`m`), months (`M`), and years (`y`).

            It is also possible to add or subtract time from a static date or datetime. Simply add `||` between the static value and any addition or subtraction. For example, `2019-02-03||+1d` would be the same as `2019-02-04`.

            You can also convert date and time types to other types. For example, to convert the datetime `2019-05-06T22:15` to a date, use `2019-05-06T22:15||/d`. Doing so would yield the same result as using `2019-05-06`. This method also works with `now`: `now/d` will give you today’s date without the time.

            **Filtering Across an Entity**

            It is possible to search for a specific text string across all fields of an entity by using the `$anywhere` matcher.

            <table style="width:100%">
              <tr>
                <th>Matcher</th>
                <th>Details</th>
              </tr>
              <tr>
                <th>$anywhere</th>
                <th>

              Matches if the argument text appears anywhere in the entity (including subfields, structs, and lists)

                {
                  "$anywhere": "hello"
                }

              This filter will match all entities that contain the string "hello" or strings that begin with "hello".

              </tr>
            </table>

            **Examples**

            The following filter will match against entities that:
            - Are of type `event` (note that entity types can also be filtered by the **`entityTypes`** query parameter)
            - Have a name that starts with the text "Century"
            - Have a maximum age between 10 and 20
            - Have a minimum age between 5 and 7
            - Start after 7 PM (19:00) on August 28, 2018

            ```
            {
              "$and":[
                {
                  "entityType":{
                    "$eq":"event"
                  }
                },
                {
                  "name":{
                    "$startsWith":"Century"
                  }
                },
                {
                  "ageRange.maxValue":{
                    "$gt":10,
                    "$lt":20
                  }
                },
                {
                  "ageRange.minValue":{
                    "$gt":5,
                    "$lt":7
                  }
                },
                {
                  "time.start":{
                    "$ge":"2018-08-28T19:00"
                  }
                }
              ]
            }
            ```
          name: filter
          in: query
          required: false
        - schema:
            minLength: 0
            type: string
            default: markdown
          description: |
            Present if and only if at least one field is of type "**Rich Text**."

            Valid values:
              * `markdown`
              * `html`
              * `none`
          name: format
          in: query
          required: false
        - schema:
            minLength: 0
            type: string
          description: |
            Comma-separated list of language codes.

            When present, the system will return Entities that have profiles in one or more of the provided languages. For each Location, only the first available profile from the provided list of languages will be returned. The keyword `"primary"` can be used to refer to a Location’s primary profile without providing a specific language code. If an Entity does not have profiles in any of the languages provided, that Entity's primary profile will be returned.
          name: languages
          in: query
          required: false
        - schema:
            multipleOf: 1
            maximum: 50
            type: number
            default: '10'
          description: Number of results to return.
          name: limit
          in: query
          required: false
        - schema:
            multipleOf: 1
            type: number
            default: '0'
          description: |
            Number of results to skip. Used to page through results.
            Cannot be used together with **`pageToken`**.

            For Live API requests, the offset cannot be higher than 9,950. For Knowledge API the maximum limit is only enforced if a filter and/or sortBy parameter are given.
          name: offset
          in: query
          required: false
        - schema:
            minLength: 0
            type: string
          description: If a response to a previous request contained the **`pageToken`** field, pass that field's value as the **`pageToken`** parameter to retrieve the next page of data.
          name: pageToken
          in: query
          required: false
        - schema:
            minLength: 0
            type: string
          description: |
            A comma-separated list of saved filter IDs.

            When present, the system will return entities that are included in the filters matching **all** of the provided IDs.
          name: savedFilterIds
          in: query
          required: false
        - schema:
            minLength: 0
            type: string
          description: |
            A list of fields and sort directions to order results by. Each ordering in the list should be in the format `{"field_name", "sort_direction"}`, where `sort_direction` is either `ASCENDING` or `DESCENDING`.

            For example, to order by `name` the sort order would be `[{"name":"ASCENDING"}]`. To order by `name` and then `description`, the sort order would be `[{"name":"ASCENDING"},{"description":"ASCENDING"}]`.
          name: sortBy
          in: query
          required: false
      tags:
        - Live API
      summary: 'Entities: List'
      description: |
        Retrieve a list of Entities within an account

        **NOTE:** Responses will contain resolved values for embedded fields
      responses:
        '200':
          description: Success Response
          content:
            application/json:
              schema:
                additionalProperties: false
                type: object
                properties:
                  meta:
                    additionalProperties: false
                    type: object
                    properties:
                      uuid:
                        minLength: 0
                        type: string
                        description: Unique ID for this request / response.
                  response:
                    additionalProperties: false
                    type: object
                    properties:
                      count:
                        multipleOf: 1
                        type: number
                        description: Total number of Entities that meet the filter criteria (ignores **``limit``** / **``offset``** parameters)
                      entities:
                        uniqueItems: false
                        type: array
                        items:
                          additionalProperties: false
                          type: object
                          properties:
                            meta:
                              additionalProperties: false
                              type: object
                              properties:
                                accountId:
                                  minLength: 0
                                  type: string
                                  description: ID of the account associated with this Entity
                                countryCode:
                                  minLength: 0
                                  type: string
                                  description: |-
                                    Country code of this Entity's Language Profile (defaults to the country of the account)

                                    Filtering Type: `text`
                                entityType:
                                  minLength: 0
                                  type: string
                                  description: |-
                                    This Entity's type (e.g., location, event)

                                    Filtering Type: `text`
                                folderId:
                                  minLength: 0
                                  type: string
                                  description: |-
                                    The ID of the folder containing this Entity

                                    Filtering Type: `text`
                                id:
                                  minLength: 0
                                  type: string
                                  description: |-
                                    ID of this Entity

                                    Filtering Type: `text`
                                labels:
                                  uniqueItems: false
                                  type: array
                                  items:
                                    minLength: 0
                                    type: string
                                    description: 'Filtering Type: `text`'
                                  description: |-
                                    This Entity's labels. If the **`v`** parameter is before `20211215`, this will be an integer.

                                    Filtering Type: `list of text`
                                language:
                                  minLength: 0
                                  type: string
                                  description: |-
                                    Language code of this Entity's Language Profile (defaults to the language code of the account)

                                    Filtering Type: `text`
                                timestamp:
                                  minLength: 0
                                  type: string
                                  description: |
                                    The timestamp of the most recent change to this entity record. Will be ignored when the client is saving entity data to Yext.

                                    **NOTE:** The timestamp may change even if observable fields stay the same.
                                uid:
                                  minLength: 0
                                  type: string
                                  description: A static globally unique ID for the Entity. Note that this value cannot be used in place of **`id`** in API calls to retrieve or edit Entity information.
                              description: |-
                                Contains the metadata about the entity.

                                ```
                                Eligible For: 
                                   * atm
                                   * event
                                   * faq
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * job
                                   * location
                                   * restaurant
                                ```
                            name:
                              minLength: 0
                              maxLength: 5000
                              type: string
                              description: |-



                                Cannot Include:
                                * HTML markup

                                Filtering Type: `text`

                                ```
                                Eligible For: 
                                   * atm
                                   * board
                                   * card
                                   * contactCard
                                   * event
                                   * faq
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * helpArticle
                                   * hotel
                                   * hotelRoomType
                                   * job
                                   * location
                                   * organization
                                   * product
                                   * restaurant
                                ```
                            address:
                              additionalProperties: false
                              type: object
                              properties:
                                city:
                                  minLength: 0
                                  maxLength: 255
                                  type: string
                                  description: |-
                                    The city the entity (or the entity's location) is in


                                    Cannot Include:
                                    * a URL or domain name
                                    * a digit

                                    Filtering Type: `text`
                                countryCode:
                                  minLength: 0
                                  pattern: ^[a-zA-Z]{2}$
                                  type: string
                                  description: 'Filtering Type: `text`'
                                extraDescription:
                                  minLength: 0
                                  maxLength: 255
                                  type: string
                                  description: |-
                                    Provides additional information to help consumers get to the entity. This string appears along with the entity's address (e.g., `In Menlo Mall, 3rd Floor`).
                                    It may also be used in conjunction with a hidden address (i.e., when **`addressHidden`** is `true`) to give consumers information about where the entity can be found (e.g., `Servicing the New York area`).

                                    Filtering Type: `text`
                                line1:
                                  minLength: 0
                                  maxLength: 255
                                  type: string
                                  description: |-

                                    Cannot Include:
                                    * a URL or domain name

                                    Filtering Type: `text`
                                line2:
                                  minLength: 0
                                  maxLength: 255
                                  type: string
                                  description: |-

                                    Cannot Include:
                                    * a URL or domain name

                                    Filtering Type: `text`
                                line3:
                                  minLength: 0
                                  maxLength: 255
                                  type: string
                                  description: |-

                                    Cannot Include:
                                    * a URL or domain name

                                    Filtering Type: `text`
                                postalCode:
                                  minLength: 0
                                  maxLength: 10
                                  type: string
                                  description: |-
                                    The entity's postal code. The postal code must be valid for the entity's country. Cannot include a URL or domain name.


                                    Cannot Include:
                                    * a URL or domain name

                                    Filtering Type: `text`
                                region:
                                  minLength: 0
                                  maxLength: 255
                                  type: string
                                  description: |-
                                    The name of the entity's region or state.


                                    Cannot Include:
                                    * a URL or domain name

                                    Filtering Type: `text`
                                sublocality:
                                  minLength: 0
                                  maxLength: 255
                                  type: string
                                  description: |-
                                    The name of the entity's sublocality


                                    Cannot Include:
                                    * a URL or domain name

                                    Filtering Type: `text`
                              description: |-
                                Contains the address of the entity (or where the entity is located)

                                Must be a valid address
                                Cannot be a P.O. Box

                                If the entity is an `event`, either an **`address`** value or a **`linkedLocation`** value can be provided.

                                Filtering Type: `object`

                                ```
                                Eligible For: 
                                   * atm
                                   * event
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                            acceptingNewPatients:
                              type: boolean
                              description: |-
                                Indicates whether the healthcare provider is accepting new patients.

                                Filtering Type: `boolean`

                                ```
                                Eligible For: 
                                   * healthcareFacility
                                   * healthcareProfessional
                                ```
                            acceptsReservations:
                              type: boolean
                              description: |-
                                Indicates whether the entity accepts reservations.

                                Filtering Type: `boolean`

                                ```
                                Eligible For: 
                                   * restaurant
                                ```
                            accessHours:
                              additionalProperties: false
                              type: object
                              properties:
                                friday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the access hours are "closed" on Friday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open on Friday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                                holidayHours:
                                  description: |-

                                    **NOTE:** The list of Holiday Hours that you send us must be comprehensive. For example, if you send us a list of Holiday Hours that does not include Holiday Hours that you sent in your last update, Yext considers the missing Holiday Hours to be deleted, and we remove them.



                                    Array must be ordered.


                                    Filtering Type: `list of object`
                                  uniqueItems: true
                                  type: array
                                  items:
                                    required:
                                      - date
                                    additionalProperties: false
                                    type: object
                                    properties:
                                      date:
                                        format: date
                                        type: string
                                        description: |-
                                          Date on which the holiday hours will be in effect. Cannot be in the past.


                                          Date must be on or after 1970-01-01
                                          Date must be before or on 2038-01-01

                                          Filtering Type: `date`
                                      isClosed:
                                        type: boolean
                                        description: |-
                                          Indicates if the access hours are "closed" on on the given date.

                                          Filtering Type: `boolean`
                                      isRegularHours:
                                        type: boolean
                                        description: |-
                                          Indicates whether the holiday hours are the same as the regular business hours for the given date. If set to true, we will update the holiday hours if the regular business hours change for the date's day of the week.

                                          Filtering Type: `boolean`
                                      openIntervals:
                                        uniqueItems: false
                                        type: array
                                        items:
                                          additionalProperties: false
                                          type: object
                                          properties:
                                            end:
                                              format: time
                                              type: string
                                              description: |-
                                                The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                                Filtering Type: `time`
                                            start:
                                              format: time
                                              type: string
                                              description: |-
                                                The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                                Filtering Type: `time`
                                          description: 'Filtering Type: `object`'
                                        description: |-
                                          Contains the time intervals for which the Entity is open on the specified date.

                                          Filtering Type: `list of object`
                                    description: 'Filtering Type: `object`'
                                monday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the access hours are "closed" on Monday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open on Monday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                                reopenDate:
                                  format: date
                                  type: string
                                  description: |-

                                    Date must be on or after 1970-01-01
                                    Date must be before or on 2038-01-01

                                    Filtering Type: `date`
                                saturday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the access hours are "closed" on Saturday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open on Saturday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                                sunday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the access hours are "closed" on Sunday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open on Sunday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                                thursday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the access hours are "closed" on Thursday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open on Thursday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                                tuesday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the access hours are "closed" on Tuesday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open on Tuesday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                                wednesday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the access hours are "closed" on Wednesday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open on Wednesday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                              description: |-
                                Contains the daily access hours, holiday access hours, and reopen date for the Entity.

                                Each day is represented by a sub-field of `accessHours`. (e.g. `monday`, `tuesday`, etc.) Open times can be specified per day through the `openIntervals` field and the `isClosed` flag.
                                Similarly, holiday access hours are represented by the `holidayHours` sub-field.
                                Setting the `reopenDate` sub-field indicates that the business is temporarily closed and will reopen on the specified date.
                                SPECIAL CASES:
                                * To indicate that an Entity is open 24 hours on a specific day, set start to 00:00 and end to 23:59 in `openIntervals` for that day.
                                * To indicate that an Entity has split hours on a specific day (e.g., open from 9:00 AM to 12:00 PM and again from 1:00 PM to 5:00 PM), supply two or more `openIntervals` values with non-overlapping sets of hours.
                                * If you are providing `openIntervals`, you may not set `isClosed` to true for that day.

                                Filtering Type: `hours`

                                ```
                                Eligible For: 
                                   * atm
                                   * healthcareFacility
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                            additionalHoursText:
                              minLength: 0
                              maxLength: 255
                              type: string
                              description: |-
                                Additional information about hours that does not fit in **`hours`** (e.g., `"Closed during the winter"`)

                                Filtering Type: `text`

                                ```
                                Eligible For: 
                                   * atm
                                   * contactCard
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                            additionalPromotingLocations:
                              description: |-
                                If other locations are promoting this event, a list of those locations' **`id`**s in the Yext Knowledge Manager


                                Array must be ordered.


                                Filtering Type: `list of entityId`

                                ```
                                Eligible For: 
                                   * event
                                ```
                              uniqueItems: true
                              type: array
                              items:
                                type: string
                                description: 'Filtering Type: `entityId`'
                            addressHidden:
                              type: boolean
                              description: |-
                                If `true`, the entity's street address will not be shown on listings. Defaults to `false`.

                                Filtering Type: `boolean`

                                ```
                                Eligible For: 
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                            admittingHospitals:
                              description: |-
                                A list of hospitals where the healthcare professional admits patients


                                Array must be ordered.

                                Array may have a maximum of 100 elements.

                                Array item description:

                                >Cannot Include:
                                >* HTML markup

                                Filtering Type: `list of text`

                                ```
                                Eligible For: 
                                   * healthcareProfessional
                                ```
                              uniqueItems: true
                              type: array
                              items:
                                minLength: 0
                                maxLength: 100
                                type: string
                                description: |-

                                  Cannot Include:
                                  * HTML markup

                                  Filtering Type: `text`
                            adultPool:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity has a pool for adults only.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            ageRange:
                              additionalProperties: false
                              type: object
                              properties:
                                maxValue:
                                  multipleOf: 1
                                  type: number
                                  description: |-
                                    Maximum age for the event

                                    Filtering Type: `integer`
                                minValue:
                                  multipleOf: 1
                                  type: number
                                  description: |-
                                    Minimum age for the event

                                    Filtering Type: `integer`
                              description: |-
                                Contains the age range for the event

                                Filtering Type: `object`

                                ```
                                Eligible For: 
                                   * event
                                ```
                            airportShuttle:
                              enum:
                                - AIRPORT_SHUTTLE_AVAILABLE
                                - AIRPORT_SHUTTLE_AVAILABLE_FOR_FREE
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity offers a shuttle to/from the airport.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            airportTransfer:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity offers a shuttle service of car service to/from nearby airports or train stations.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            allInclusive:
                              enum:
                                - ALL_INCLUSIVE_RATES_AVAILABLE
                                - ALL_INCLUSIVE_RATES_ONLY
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity offers all-inclusive rates.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            alternateNames:
                              description: |-
                                Other names for your business that you would like us to use when tracking your search performance


                                Array must be ordered.

                                Array may have a maximum of 3 elements.

                                Array item description:

                                >Cannot Include:
                                >* HTML markup

                                Filtering Type: `list of text`

                                ```
                                Eligible For: 
                                   * atm
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * organization
                                   * restaurant
                                ```
                              uniqueItems: true
                              type: array
                              items:
                                minLength: 0
                                maxLength: 100
                                type: string
                                description: |-

                                  Cannot Include:
                                  * HTML markup

                                  Filtering Type: `text`
                            alternatePhone:
                              minLength: 0
                              type: string
                              description: |-
                                Must be a valid phone number.

                                If the phone number's calling code is for a country other than the one given in the entity's **`countryCode`**, the phone number provided must contain the calling code (e.g., `+44` in `+442038083831`). Otherwise, the calling code is optional.

                                Filtering Type: `text`

                                ```
                                Eligible For: 
                                   * atm
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                            alternateWebsites:
                              description: |-
                                Other websites for your business that we should search for when tracking your search performance


                                Array must be ordered.

                                Array may have a maximum of 3 elements.

                                Array item description:

                                >Cannot Include:
                                >* common domain names, e.g., google.com, youtube.com, etc.

                                Filtering Type: `list of text`

                                ```
                                Eligible For: 
                                   * atm
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * organization
                                   * restaurant
                                ```
                              uniqueItems: true
                              type: array
                              items:
                                minLength: 0
                                maxLength: 255
                                format: uri
                                type: string
                                description: |-

                                  Cannot Include:
                                  * common domain names, e.g., google.com, youtube.com, etc.

                                  Filtering Type: `text`
                            androidAppUrl:
                              minLength: 0
                              type: string
                              description: |-
                                The URL where consumers can download the entity's Android app

                                Filtering Type: `text`

                                ```
                                Eligible For: 
                                   * financialProfessional
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                            answer:
                              description: |-
                                The answer to the frequently asked question represented by this entity


                                Character limit: 0 .. 15000

                                Supported formats include:
                                * BOLD
                                * ITALICS
                                * UNDERLINE
                                * BULLETED_LIST
                                * NUMBERED_LIST
                                * HYPERLINK
                                * IMAGE
                                * CODE_SPAN
                                * HEADINGS

                                ```
                                Eligible For: 
                                   * faq
                                ```
                              type: string
                              format: rich-text
                            applicationUrl:
                              minLength: 0
                              format: uri
                              type: string
                              description: |-
                                The application URL

                                Filtering Type: `text`

                                ```
                                Eligible For: 
                                   * job
                                ```
                            associations:
                              description: |-
                                Association memberships relevant to the entity (e.g., `"New York Doctors Association"`)
                                All strings must be non-empty when trimmed of whitespace.



                                Array must be ordered.

                                Array may have a maximum of 100 elements.

                                Array item description:

                                >Cannot Include:
                                >* HTML markup

                                Filtering Type: `list of text`

                                ```
                                Eligible For: 
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                              uniqueItems: true
                              type: array
                              items:
                                minLength: 0
                                maxLength: 100
                                type: string
                                description: |-

                                  Cannot Include:
                                  * HTML markup

                                  Filtering Type: `text`
                            attendance:
                              required:
                                - attendanceMode
                              additionalProperties: false
                              type: object
                              properties:
                                attendanceMode:
                                  enum:
                                    - OFFLINE
                                    - ONLINE
                                    - MIXED
                                  type: string
                                  description: 'Filtering Type: `option`'
                                virtualLocationUrl:
                                  minLength: 0
                                  format: uri
                                  type: string
                                  description: 'Filtering Type: `text`'
                              description: |-
                                Indicates whether the event is online, offline, or a mix.
                                A `virtualLocationUrl` must be specified for online and mixed events.

                                Filtering Type: `object`

                                ```
                                Eligible For: 
                                   * event
                                ```
                            attire:
                              enum:
                                - UNSPECIFIED
                                - DRESSY
                                - CASUAL
                                - FORMAL
                              type: string
                              description: |-
                                The formality of clothing typically worn at this restaurant

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * restaurant
                                ```
                            babysittingOffered:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity offers babysitting.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            baggageStorage:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity offers baggage storage pre check-in and post check-out.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            bar:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity has an indoor or outdoor bar onsite.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            beachAccess:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity has access to a beach.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            beachFrontProperty:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity is physically located next to a beach.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            bicycles:
                              enum:
                                - BICYCLE_RENTALS
                                - BICYCLE_RENTALS_FOR_FREE
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity offers bicycles for rent or for free.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            bios:
                              additionalProperties: false
                              type: object
                              properties:
                                ids:
                                  description: |-
                                    IDs of the Bio Lists associated with this entity


                                    Array must be ordered.

                                    Array may have a maximum of 40 elements.


                                    Filtering Type: `list of text`
                                  uniqueItems: true
                                  type: array
                                  items:
                                    minLength: 0
                                    type: string
                                    description: 'Filtering Type: `text`'
                                label:
                                  minLength: 0
                                  maxLength: 30
                                  type: string
                                  description: |-
                                    Label to be used for this entity's Bio Lists. This label will appear on your entity's listings.

                                    Filtering Type: `text`
                              description: |-
                                Information about the Bio Content Lists associated with this entity

                                Filtering Type: `object`

                                ```
                                Eligible For: 
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * organization
                                   * restaurant
                                ```
                            boutiqueStores:
                              enum:
                                - 'YES'
                                - 'NO'
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity has a boutique store. Gift shop or convenience store are not eligible.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            brands:
                              description: |-
                                Brands sold by this entity
                                All strings must be non-empty when trimmed of whitespace.



                                Array must be ordered.

                                Array may have a maximum of 100 elements.

                                Array item description:

                                >Cannot Include:
                                >* HTML markup

                                Filtering Type: `list of text`

                                ```
                                Eligible For: 
                                   * financialProfessional
                                   * healthcareFacility
                                   * healthcareProfessional
                                   * hotel
                                   * location
                                   * restaurant
                                ```
                              uniqueItems: true
                              type: array
                              items:
                                minLength: 0
                                maxLength: 100
                                type: string
                                description: |-

                                  Cannot Include:
                                  * HTML markup

                                  Filtering Type: `text`
                            breakfast:
                              enum:
                                - BREAKFAST_AVAILABLE
                                - BREAKFAST_AVAILABLE_FOR_FREE
                                - NOT_APPLICABLE
                              type: string
                              description: |-
                                Indicates whether the entity offers breakfast.

                                Filtering Type: `option`

                                ```
                                Eligible For: 
                                   * hotel
                                ```
                            brunchHours:
                              additionalProperties: false
                              type: object
                              properties:
                                friday:
                                  additionalProperties: false
                                  type: object
                                  properties:
                                    isClosed:
                                      type: boolean
                                      description: |-
                                        Indicates if the brunch hours are "closed" on Friday.

                                        Filtering Type: `boolean`
                                    openIntervals:
                                      uniqueItems: false
                                      type: array
                                      items:
                                        additionalProperties: false
                                        type: object
                                        properties:
                                          end:
                                            format: time
                                            type: string
                                            description: |-
                                              The end time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                          start:
                                            format: time
                                            type: string
                                            description: |-
                                              The start time of the interval in `hh:mm` format (e.g., `"06:30"`, `"17:00"`).

                                              Filtering Type: `time`
                                        description: 'Filtering Type: `object`'
                                      description: |-
                                        Contains the time intervals for which the Entity is open for brunch on Friday. Note that if isClosed is set to true, "openIntervals" cannot be provided in an update.

                                        Filtering Type: `list of object`
                                  description: 'Filtering Type: `object`'
                                holidayHours:
                                  description: |-

                                    **NOTE:** The list of Holiday Hours that you send us must be comprehensive. For example, if you send us a list of Holiday Hours that does not include Holiday Hours that you sent in your last update, Yext considers the missing Holiday Hours to be deleted, and we remove them.



                                    Array must be ordered.


                                    Filtering Type: `list of object`
                                  uniqueItems: true
                                  type: array
                                  items:
                                    required:
                                      - date
                                    additionalProperties: false
                                    type: object
                                    properties:
                                      date:
                                        format: date
                                        type: string
                                        description: |-
                                          Date on which the holiday hours will be in effect. Cannot be in the past.


                                          Date must be on or after 1970-01-01
                                          Date must be before or on 2038-01-01

                                          Filtering Type: `date`
                                      isClosed:
                                        type: boolean
                                        description: |-
                                          Indicates if the brunch hours are "closed" on on the given date.

                                          Filtering Type: `boolean`
                                      isRegularHours:
                                        type: boolean
[...]
